{% extends "layout.html" %}
{% block content %}
    <section class="home-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <div class="ml-5">
                        <h1 class="wht-text">Povezujemo poljoprivrednike sa direktnim kupcima</h1>
                        <div class="home-hero-txt mb-5">
                            Cilj ove platforme je da poveže registrovana poljoprivredna gazdinstava i kupce, da olakša plasman i kupovinu poljoprivrednih proizvoda i onlajn uzgoj stoke.
                        </div>
                        {% if not current_user.is_authenticated %}
                        <a class="btn btn-primary mr-1 mb-3" href="#registracija">Registrujte se danas!</a>
                        {% endif %}
                        <a class="btn btn-primary mb-3" href="{{ url_for('main.about') }}">Opširnije</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="zivavaga">
        <div class="container">
            <h2 class="section-title text-center">Živa vaga</h2>
            <div class="text-center mt-5 mb-5">
                Živa vaga je strana platforme koja se odnosi na sva grla stoke i svu ostalu živinu.
                Podrazumeva i grla koja su u tovu i ona koja su odmah u prodaji. Tu lako možete pronaći
                ponudu grla svih poljoprivrednih gazdinstava..
            </div>
            <div class="row">
                <div class="container">
                    <section class="logo-carousel slider" data-arrows="true" id="waitDiv">
                        {% for category in animal_categories %}
                        <div class="slide"><a href="{{ url_for('marketplace.livestock_market', animal_category_id=category.id) }}"><img src="{{ url_for('static', filename='images/' + category.animal_category_name + '.png') }}" alt="{{ category.animal_category_name }}"><p>{{ category.animal_category_name }}</p></a></div>
                        {% endfor %}
                    </section>
                </div>
            </div>
            <!--<a class="btn btn-primary mx-auto more-button" href="{{ url_for('marketplace.livestock_market', animal_category_id=0) }}">Istražite više</a>-->
        </div>
    </section>
    <section class="gotoviproizvodi">
        <div class="container">
            <h2 class="section-title text-center">Gotovi proizvodi</h2>
            <div class="text-center mb-5 mt-5">
                Gotovi proizvodi, odnosno onlajn pijaca, strana je na platformi „Moje stado“ koja plasira
                sve gotove proizvode i polu-proizvode poljoprivrednih gazdinstava krajnjim potrošačima.
                Ovde možete pronaći i pretražiti ponudu svih gotovih i polu-gotovih proizvoda registrovanih poljoprivrednih gazdinstava.
            </div>
            {% for product in product_list %}
                {% if loop.index0 % 3 == 0 %}
                <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
                {% endif %}
                <div class="col">
                    <div class="card h-100">
                        <div class="image-wrapper">
                            <img src="static/product_image/{{ product.product_image }}" class="card-img-top" alt="Slika proizvoda">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ product.product_name }}</h5>
                            <p class="card-text"><strong>{{ product.farm_product.farm_name }}</strong>, {{ product.farm_product.farm_city }}</p>
                            <p class="card-text"><strong>{{ '{:.2f}'.format(product.product_price_per_unit) }} rsd/{{ product.unit_of_measurement }}</strong></p>
                            <a href="{{ url_for('marketplace.product_detail', product_id=product.id) }}" class="btn btn-secondary">Kupi</a>
                        </div>
                    </div>
                </div>
                {% if loop.index % 3 == 0 or loop.last %}
                </div>
                {% endif %}
            {% endfor %}
            <a class="btn btn-alt mx-auto more-button" href="{{ url_for('marketplace.products_market', product_category_id=0) }}">Vidi sve</a>
        </div>
    </section>
    
    <section class="banners">
        <div class="container">
            <div class="banner-horizontal">
                <a href="#" class=""><img src="static/images/baner-hor-2.jpg" alt="Banner"></a>
            </div>
        </div>
    </section>
    
    <section class="farme">
        <div class="container">
            <h2 class="section-title text-center">Farme</h2>
            <div class="text-center mb-5 mt-5">
                Farme je strana platforme „Moje stado“ na kojoj poljoprivredna gazdinstva predstavljaju sebe i svoje usluge.
            </div>
            {% for farm in farm_list %}
                {% if loop.index0 % 3 == 0 %}
                <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
                {% endif %}
                <div class="col">
                    <div class="card h-100">
                        <a href="{{ url_for('farms.farm_detail', farm_id=farm.id) }}" class="image-wrapper">
                            <img src="static/farm_image/{{ farm.farm_image }}" class="card-img-top zoom" alt="Slika Farme">
                        </a>
                        <div class="card-body">
                            <a href="{{ url_for('farms.farm_detail', farm_id=farm.id) }}" class="title-link">
                                <h5 class="card-title">{{ farm.farm_name }}</h5>
                            </a>
                            <p class="card-text">{{ farm.farm_city }}</p>
                        </div>
                    </div>
                </div>
                {% if loop.index % 3 == 0 or loop.last %}
                </div>
                {% endif %}
            {% endfor %}
            <a class="btn btn-alt mx-auto more-button" href="{{ url_for('farms.farm_list') }}">Vidi sve</a>
        </div>
    </section>

    <section class="faq">
        <div class="container">
            <h2 class="section-title text-center">Najčešće postavljena pitanja</h2>
            <div class="accordion mb-5" id="faqAccordion">
                {% for question in faq %}
                    <div class="accordion-item">
                        <div class="accordion-header" id="heading_{{ loop.index }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ loop.index }}" aria-expanded="true" aria-controls="collapse_{{ loop.index }}">
                                {{ question.question }}
                            </button>
                        </div>
                        <div id="collapse_{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading_{{ loop.index }}" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                {{ question.answer }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="btn btn-alt mx-auto more-button" href="{{ url_for('main.faq') }}">Vidi sve</a>
        </div>
    </section>
    <section class="banners">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="#" class=""><img src="static/images/baner-hor-half-1.jpg" alt="Banner" class="banner-horizontal-half"></a>
                </div>
                <div class="col-md-6">
                    <a href="#" class=""><img src="static/images/baner-pavle-korcagin.jpg" alt="Banner" class="banner-horizontal-half"></a>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}