{% extends "layout.html" %}
{% block content %}
<div class="container text-center pt-40">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="display-1">404</h1>
            <h2>Stranica nije pronađena</h2>
            <p class="lead">Izvinjavamo se, ali stranica koju tražite ne postoji ili je premeštena.</p>
            <a href="{{ url_for('main.home') }}" class="btn btn-primary mt-4">Vratite se na početnu stranu</a>
        </div>
    </div>
</div>
{% endblock %}
