body { font-family: 'Montserrat', sans-serif; font-weight: 500; color: #333; font-size: 16px; }
body { display: flex; flex-direction: column; min-height: 100vh; }
/*h1, h2, h3, h4, h5, .main-menu a { font-family: "Roboto Slab", serif; }*/
/*.column { margin: 0; }*/
a { text-decoration: none; /*color: #ff7654;*/ color: #5e4432; }
a:hover { color: #e0bd5d; }
.row { padding: 0; }
.top-bar { background-color: #5e4432; color: #fff; /*text-transform: uppercase;*/ font-size: 16px; }
.bg-mosta { background-color: #5e4432 }
.wht-text { color: #fff; text-shadow: 0 0 10px #000;}
.ml-1 { margin-left: 0.5em; }
.ml-2 { margin-left: 1em; }
.ml-3 { margin-left: 2em; }
.ml-4 { margin-left: 3em; }
.ml-5 { margin-left: 4em; }
.mr-1 { margin-right: 0.5em; }
.mr-2 { margin-right: 1em; }
.mr-3 { margin-right: 2em; }
.mr-4 { margin-right: 3em; }
.mr-5 { margin-right: 4em; }
.mb--1 { margin-bottom: -1px !important; }
.mb-2 { margin-bottom: 1em; }
.mb-5p { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px !important; }
.mb-20 { margin-bottom: 20px; }
.mb-50 { margin-bottom: 50px; }
.mt-20 { margin-top: 20px; }
.pr-20 { padding-right: 20px; }
.pl-0 { padding-left: 0; }
.pl-20 { padding-left: 20px; }
.plr-10 { padding-left: 10px; padding-right: 10px; }
.plr-20 { padding-left: 20px; padding-right: 20px; }
.pr-20 { padding-right: 20px; }
.ptb-10 { padding-top: 10px; padding-bottom: 10px; }
.ptb-20 { padding-top: 20px; padding-bottom: 20px; }
.pb-10 { padding-bottom: 10px; }
.pb-20 { padding-bottom: 20px; }
.pt-20 { padding-top: 20px; }
.pt-40 { padding-top: 40px; }
.btn { border-radius: .3rem; /*font-family: "Roboto Slab", serif;*/ font-size: 18px; font-weight: 600; }
.btn-primary { color: #fff;  background-color: #5e4432; border-color: #5e4432; }
.btn-check:focus+.btn-primary, .btn-primary:focus { color: #fff; background-color: #5e4432; border-color: #5e4432; box-shadow: none !important; }
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle { color: #fff; background-color: #5e4432; border-color: #5e4432; }
.btn-primary:hover { color: #5e4432 !important; background-color: #e0bd5d; border-color: #e0bd5d; }
.btn-primary:disabled, .btn-primary.disabled { color: #fff; background-color: #5e4432; border-color: #5e4432; opacity: 0.65; }
.btn-secondary { color: #5e4432;  background-color: #e0bd5d; border-color: #e0bd5d; /*padding: 0 50px 3px 50px;*/ }
.btn-check:focus+.btn-secondary, .btn-secondary:focus { color: #fff; background-color: #5e4432; border-color: #5e4432; box-shadow: none !important; }
.btn-check:active+.btn-secondary, .btn-check:checked+.btn-secondary, .btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle { color: #fff; background-color: #5e4432; border-color: #5e4432; }
.btn-secondary:hover { color: #fff; background-color: #5e4432; border-color: #5e4432; }
.btn-alt { color: #5e4432;  background-color: transparent; border-color: #5e4432; }
.btn-check:focus+.btn-alt, .btn-alt:focus { color: #fff; background-color: #5e4432; border-color: #5e4432; box-shadow: none !important; }
.btn-check:active+.btn-alt, .btn-check:checked+.btn-alt, .btn-alt.active, .btn-alt:active, .show>.btn-alt.dropdown-toggle { color: #fff; background-color: #5e4432; border-color: #5e4432; }
.btn-alt:hover { color: #fff; background-color: #5e4432; border-color: #5e4432; }
.btn-icon { display: inline-flex; justify-content: center; align-items: center; border: 0; width: 32px; margin: 1px;
    height: 32px; border-radius: 5px; transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; }
.input-like { padding: 10px 15px !important; }
.navbar-brand { font-size: inherit; }
.m-left-auto { margin-left: auto; }
.m-right-auto { margin-right: auto; }
#waitDiv { opacity: 0; }
.blacktext { color: #4e3829 !important; text-shadow: 0 0 15px #fff; }
.smallfont { font-size: 16px; }
.smallestfont { font-size: 12px; }
.noborder { border: 0 !important; }
.alert { border-radius: 10px; }
.fixalert { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 50px; z-index: 9999; }
#closeButton { position: absolute; top: 10px; right: 10px; background-color: #e0bd5d; color: white; border: none; padding: 5px 10px; cursor: pointer; border-radius: 5px; }
#closeButton:hover { background-color: #5e4432; }
button.close { border: 0; background-color: #e0bd5d; border-radius: 6px; font-size: 24px; color: white; padding: 0 10px; }
button.close:hover { background-color: #5e4432; }
.narrow-center { width: auto; margin: auto; }
.center-text { text-align: center; }
.width-auto { width: auto; }
.gap-20 { gap: 20px; }
.soft-border-right:first-child { border-right: 1px solid #ddd; }
.soft-border-bottom:not(:last-child) { border-bottom: 1px solid #ddd; }
.faded { opacity: 0.5; }
.font-size-14 { font-size: 14px; }
.smaller-text { font-size: 0.8em !important; }
.darktext { color: #333 !important; }
.border-tb { border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.text-primary { color: #eb5151 !important; font-size: 1.2em; font-weight: 800; }
.bg-primary { background-color: #e0bd5d !important; color: #5e4432 !important; }
h1.plai-main-title { text-align: center; border-bottom: 1px solid #e0bd5d; padding-bottom: 10px; margin-bottom: 50px; }

nav.navbar-dark { background-color: rgba(255, 255, 255, 0.5); }
nav.navbar { padding-top: 0; }
.navbar:not(.top-bar) { padding-bottom: 0; }
.top-bar a { color: #e0bd5d !important; }
.top-bar a:hover { color: #fff !important; }
.most-head-logo {max-width: 200px;}
header.hero .navbar .container { align-items: flex-start; }
header.hero .navbar-nav .nav-link { text-transform: uppercase; margin-left: 20px; }
header.hero .navbar-nav .nav-link { border-bottom: 3px solid transparent; }
header.hero .navbar-nav .nav-link:focus, header.hero .navbar-nav .nav-link:hover, header.hero .navbar-nav .nav-link.active { border-bottom: 3px solid #e0bd5d;}
.navbar-toggler { margin: 10px 0; }
.navbar-dark .navbar-toggler { border-color: rgba(255, 255, 255, .6); }
.navbar-dark .navbar-toggler-icon { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255%2C 255%2C 255%2C 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }
.home-hero { background: url(../images/home-hero.jpg) no-repeat center center; background-size: cover; /*padding-bottom: 50px;*/ }
.home-hero { padding-bottom: 100px; margin-top: -191px; padding-top: 200px; }
.home-hero-txt { color:#fff; font-weight: 600; text-shadow: 0 0 3px #000; font-size: 20px; }
.more-button { display: block; width: fit-content; padding: 5px 50px; margin-top: 100px; margin-bottom: 50px; }
.navbar-nav.main-menu .nav-item a { font-size: 16px; color: #5e4432 !important; }
.navbar { transition: all 0.5s ease; ; }
.nav-item.dropdown:hover .dropdown-menu { display: block; margin-top: 0; }
.navbar-nav.main-menu .nav-item .dropdown-menu a { color: #5e4432;}
.shrink .navbar { position: fixed; top: -100px; width: 100%; z-index: 9999; animation: slideDown 0.5s forwards; }
.shrink .navbar ul.main-menu li a { color: #fff !important; }
.shrink .navbar ul.main-menu li ul li a { color: #fff !important; }
ul.navbar-nav.main-menu .dropdown-item { color: #5e4432; }
ul.navbar-nav.main-menu .dropdown-item:hover { background-color: #e0bd5d; }
.shrink .top-bar { display: none; }
.shrink .navbar .navbar-brand img { width: 100px; height: auto; }
.shrink nav.navbar-dark { background-color: rgba(94, 68, 50, 0.9); }
.shrink header.hero .navbar .container { align-items: center; }
@keyframes slideDown { from { top: -100px; } to { top: 0; }}

main { flex: 1; }
.preserve-newlines { white-space: pre-line; }
.content-title { text-align: center; border-bottom: 1px solid #e0bd5d; padding-bottom: 10px; margin-bottom: 50px; }

section.zivavaga { background-color: #f8f2e9; padding: 50px 0; }
.section-title { font-size: 48px; font-weight: 700; color: #5e4432; }
/* Slider */
.slick-slide { margin: 0px 20px; }
.logo-carousel { overflow: inherit; }
.slick-slide img { width: 100%; transition: all 0.4s; opacity: 0.5; }
.slick-slide p { width: 100%; transition: all 0.2s; }
.slick-slide .slide { text-align: center; }
.slick-slide .slide a { text-decoration: none; color: #5e4432; }
.slick-slide .slide a:hover img { transform: scale(1.3); opacity: 1 !important; }
.slick-slide .slide a:hover p { transform: translateY(5px); font-size: 20px; }
.slick-track::before, .slick-track::after { display: table; content: ''; }
.slick-track::after { clear: both; }
.slick-track { padding: 1rem 0; height: 220px; overflow: hidden; }
.slick-loading .slick-track { visibility: hidden; }
.slick-slide.dragging img { pointer-events: none; }
.slick-loading .slick-slide { visibility: hidden; }
/*.slick-arrow { position: absolute; top: 50%; background: url(https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/arrow.svg?sanitize=true) center no-repeat; color: #fff;
  filter: invert(77%) sepia(32%) saturate(1%) hue-rotate(344deg) brightness(105%) contrast(103%); border: none; width: 2rem; height: 1.5rem; text-indent: -10000px; margin-top: -16px; z-index: 99; }*/
.slick-arrow { position: absolute; top: 50%; background: url(../images/arrow-control.png) center no-repeat; background-size: contain; color: #fff;
    opacity: 0.7; border: none; width: 32px; height: 32px; text-indent: -10000px; margin-top: -16px; z-index: 99; }
.slick-arrow:hover { opacity: 1; }
.slick-arrow.slick-next { right: -40px; transform: rotate(180deg); }
.slick-arrow.slick-prev { left: -40px; }
.my-carousel-inner { display: flex; overflow: hidden; align-items: center; width: 100%; aspect-ratio: 1 / 1; border-radius: 5px; }
.my-carousel-inner .carousel-item { height: 100% }
.my-carousel-inner .carousel-item img { width: 100%; height: 100%; object-fit: cover; object-position: center; }

section.main-content { padding: 50px 0; }
/*section.gotoviproizvodi { background-color: #f5f5f5; padding: 50px 0; }*/
section.gotoviproizvodi { /*background-image: url('../images/texture-1.jpg');*/ padding: 50px 0; }
section.gotoviproizvodi .card { border-radius: 1rem; overflow: hidden; border: 0; box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }
section.gotoviproizvodi .card-body { text-align: center; }
section.gotoviproizvodi .card-title { font-size: 24px; font-weight: 700; color: #5e4432; }
section.gotoviproizvodi .image-wrapper {display: flex; justify-content: center; align-items: center; overflow: hidden; width: 100%; max-height: 300px; }

section.farme { background-color: #f8f2e9; padding: 50px 0; }
section.farme .card { border-radius: 1rem; overflow: hidden; border: 0; box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }
section.farme .card-body { text-align: center; }
section.farme .card-title { font-size: 24px; font-weight: 700; color: #5e4432; }
section.farme .image-wrapper {display: flex; justify-content: center; align-items: center; overflow: hidden; width: 100%; max-height: 300px; }
.zoom { transition: transform 0.5s ease; }
.zoom:hover { transform: scale(1.2); }
.sameimage-wrapper {width: 100%; overflow: hidden; display: flex; justify-content: center; align-items: center; }
.sameimage-wrapper:hover img { scale: 1.1; }
.sameimage-wrapper img {width: 100%;height: 100%; object-fit: cover; transition: all ease 0.3s; }


section.faq { /*background-image: url('../images/texture-1.jpg');*/ padding: 50px 0; }
.accordion, .accordion-button { background-color: transparent; }
.accordion-button { font-size: 18px; font-weight: 600; color: #5e4432; }
.accordion-item { background-color: transparent; border: none; border-bottom: 1px solid #5e4432; }
.accordion-button:not(.collapsed) { color: #5e4432; background-color: transparent; box-shadow: none; }
.accordion-button:focus { z-index: 3; border-color: transparent; outline: 0; box-shadow: none; }
.accordion-button::after { content: '+'; background-image: none; font-size: 24px; font-weight: 500; border: 1px solid #5e4432; border-radius: 50px; width: 36px; height: 36px; padding: 0 5px 0 11px; }
.accordion-button:not(.collapsed)::after { content: '-'; background-image: none; transform: none; line-height: 30px; font-size: 32px; }
.banner-horizontal img { max-width: 100%; }

section.banners { padding: 0 0 50px 0; }
.banner-horizontal-half, .banner-horizontal { display: flex; width: 100%; margin-bottom: 10px; }
.banner-horizontal-half a, .banner-horizontal a  { overflow: hidden; }
.banner-horizontal-half a img, .banner-horizontal a img { transition: transform 0.3s ease; }
.banner-horizontal-half a:hover img, .banner-horizontal a:hover img { transform: scale(1.1); }

section.registracija { padding: 80px 0 100px 0; background: #f8f2e9 url(../images/drawing-bg.jpg) no-repeat center bottom; background-size: contain; }
.form-box { background-color: #f5f5f5; border-radius: 10px; padding: 20px 10px; }
.form-box h4 { padding: 0 0 20px 10px; }
.formsubmit { justify-content: center; align-items: center; gap: 20px; padding-top: 50px; }
.select2-container--default .select2-selection--single { border: 1px solid #ccc; border-radius: 6px; }
.select2-container .select2-selection--single { height: 48px; }
.select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 45px; }

.page-hero { padding-bottom: 100px; margin-top: -191px; padding-top: 200px; }
.page-hero-blanc { padding-bottom: 100px; margin-top: -175px; padding-top: 75px; }
.page-hero-cart { padding-bottom: 100px; margin-top: -175px; padding-top: 30px !important; }
.page-hero-txt { color:#fff; font-weight: 600; }
.aboutpage { background: url(../images/hero-1.jpg) no-repeat center center; background-size: cover; /*padding-bottom: 50px;*/ }
.livestock-0 { background: url(../images/hero-2.jpg) no-repeat center center; background-size: cover; }
.livestock-1 { background: url(../images/hero-svinje.jpg) no-repeat center center; background-size: cover; } /*! dodaj slike */
.livestock-2 { background: url(../images/hero-goveda.jpg) no-repeat center center; background-size: cover; } /*! dodaj slike */
.livestock-3 { background: url(../images/hero-ovce.jpg) no-repeat center center; background-size: cover; } /*! dodaj slike */
.livestock-4 { background: url(../images/hero-konji.jpg) no-repeat center center; background-size: cover; } /*! dodaj slike */
.livestock-5 { background: url(../images/hero-koze.jpg) no-repeat center center; background-size: cover; } /*! dodaj slike */
.livestock-6 { background: url(../images/hero-kokos.jpg) no-repeat center center; background-size: cover; } /*! dodaj slike */
.livestock-7 { background: url(../images/hero-curke.jpg) no-repeat center center; background-size: cover; } /*! dodaj slike */
.livestock-8 { background: url(../images/hero-ostala-zivina.jpg) no-repeat center center; background-size: cover; } /*! dodaj slike */
.contactpage { background: url(../images/hero-kontakt.jpg) no-repeat center center; background-size: cover; }
.faqpage { background: url(../images/hero-faq.jpg) no-repeat center center; background-size: cover; }
.farmpage { background: url(../images/hero-farma.jpg) no-repeat center center; background-size: cover; }
.registerfarmpage { background: url(../images/hero-register-2.jpg) no-repeat center center; background-size: cover; }
.registerpage { background: url(../images/hero-register-1.jpg) no-repeat center center; background-size: cover; }
.loginpage { background: url(../images/hero-login.jpg) no-repeat center center; background-size: cover; }
.productspage { background: url(../images/hero-proizvodi-4.jpg) no-repeat center center; background-size: cover; }
.cartpage { background: url(../images/hero-korpa.jpg) no-repeat center center; background-size: cover; }
.firstsection { padding-top: 50px; }
.title-link:hover h5 { color: #e0bd5d; }

/*.form-switch .form-check-input:checked { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23efc65e'/%3e%3c/svg%3e");}*/
.form-switch .form-check-input:focus { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");}
.form-check-input:focus { border-color: #bfbfbf; outline: 0; box-shadow: none; }
.form-check-input:checked { background-color: #efc65e; border-color: #efc65e; }
.form-check-input:active { filter: brightness(100%); }
.big-textarea { height: 160px; }
.not-like-input { background-color: transparent; border: none !important; }
.select2-search__field { height: 24px !important;}

.sidebar .card { border: none; border-bottom: 1px solid #5e4432; border-radius: 0; }
.sidebar .card:last-child { border-bottom: 0 !important; }
.sidebar .card-header { /*font-family: "Roboto Slab", serif;*/ font-weight: 700; font-size: 18px; color: #5e4432; background-color: transparent; border-bottom: 0; }

.prod-btn { margin-bottom: 4px; padding-top: 4px; }
.list-price { margin-bottom: 0; }
.list-price span { font-size: 1.1em; color: #eb5151; }
.addtocart { display: flex; align-items: flex-end; gap: 20px; /*border-top: 1px solid #f3ddbb;*/ padding-top: 10px; }
.addtocart input.form-control { margin-top: 10px; padding: 9px 10px 8px 10px; }
.square-prod-box { display: flex; overflow: hidden; justify-content: center; align-items: center; width: 100%; aspect-ratio: 1 / 1; /*border-radius: 5px;*/ border-top-left-radius: 5px; border-top-right-radius: 5px; }
.square-prod-box img {width: 100%; height: 100%; object-fit: cover; object-position: center; /*border-radius: 5px;*/ transition: all ease 0.3s; }
.square-prod-box:hover img { scale: 1.1; }
.card-body-mine { padding: 10px 10px 0; display: flex; flex-direction: column; flex-grow: 1; }
.card-body-mine .card-title { font-weight: 700; }
.card-body-mine .card-text { margin-bottom: 0; padding-bottom: 5px; }
.center-button { display: flex; align-items: baseline; justify-content: center; margin: auto -10px 0; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-top-left-radius: 0; border-top-right-radius: 0;}
.form-group-addtocart { display: flex; align-items: baseline; gap: 10px; }
.form-group-addtocart input { width: 100px; }
.form-group-addtocart .btn { font-size: 16px; }

i.fa-solid.fa-info { color: white; background-color: deepskyblue; border-radius: 50px; padding: 5px 10px; }
.services-btn, .tov-btn, .unisize-btn { font-size: 14px; width: 100%; padding: 3px 5px; margin: 2px 0; }
.services-btn { background-color: #5e4432; color: #fff; }
.services-btn:hover { color: #fff; }
.tov-btn { background-color: #e0bd5d; color: #5e4432; }
.tov-btn:hover{ background-color: #5e4432; color: #fff; }
.services-btn:hover, .tov-btn:hover { box-shadow: 0 0 10px rgba(0,0,0,0.4); }

.btn-toolbar .open ul.dropdown-menu { display: block; }
.btn-toolbar .focus-btn-group { display: none; }
.btn-toolbar .btn-group .btn { border-radius: 6px !important; margin-right: 5px; }

.info-text { font-size: 14px;}
table.info-table { border-left: 1px solid #eee; border-top: 1px solid #eee; }
table.info-table td { border-right: 1px solid #eee; border-bottom: 1px solid #eee; padding: 10px; }
table.info-table .info-table-header { background-color: #eee !important;}

ul.pagination .page-link { color: #6e5646; }
ul.pagination .page-item.active .page-link { background-color: #e0bd5d; border-color: #e0bd5d; }
ul.pagination .page-link:focus { box-shadow: none; }
.popup-content { display: none; position: absolute; top: 0; left: 100%; background-color: #f9f9f9; font-size: 14px; color: #333; padding: 10px; border: 1px solid #ccc;
    border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); height: 200px; overflow: auto; aspect-ratio: 1 / 1; z-index: 100; box-sizing: border-box; }
.popup-content.active { display: block; }

.total-price .amount { font-size: 24px; color: #dc3545; font-weight: 700; }
.delivery-price .amount { font-weight: 700; font-size: 24px; }

/***  Nalog   ***/
.loginform { max-width: 300px; margin: auto; padding: 50px 0; }
.my-navbar { border-bottom: 1px solid #e0bd5d; }
.my-navbar li.nav-item a { background-color: #e0bd5d; border-radius: 6px; margin-right: 5px; color: #5e4432 !important; font-weight: 700; font-size: 16px; }
.my-navbar li.nav-item a:hover { background-color: #5e4432; color: #e0bd5d !important; }
.my-navbar li.nav-item a.active { background-color: #5e4432; color: #fff !important; }
.obrisi-sliku { margin-top: -61px; }
.box-heading { text-align: center; background: #eee; padding: 10px; border-radius: 6px; margin-bottom: 20px; }
.resetform { margin: auto; padding: 50px 0; display: flex; align-items: end; gap: 10px; justify-content: center; flex-wrap: wrap; }
.form-control { margin-bottom: 20px; }
.samesize-button { min-width: 130px; }
.smaller-form-mb input, .smaller-form-mb select { margin-bottom: 10px !important; }

/*** Table   ***/
table.table { font-size: 14px; }
.table>:not(:last-child)>:last-child>* { border-bottom-color: inherit; }
.table>thead { background-color: #e0bd5d; }
.table-overflow { overflow: auto; height: fit-content; }
table.popupable td { position: relative; }
.popup-id { display: none; position: absolute; bottom: 52%; left: 135%; transform: translateX(-50%); background-color: #5e4432; color: white; padding: 5px 10px; border-radius: 5px; white-space: nowrap; z-index: 1; }
.clickable-image { cursor: pointer }
.table-responsive-2 { border-radius: 5px; overflow: hidden; border: 1px solid #ddd; }
.cart-notice { font-style: italic; font-size: 12px; }
table.dataTable > thead .sorting:before, table.dataTable > thead .sorting:after, table.dataTable > thead .sorting_asc:before, table.dataTable > thead .sorting_asc:after, 
table.dataTable > thead .sorting_desc:before, table.dataTable > thead .sorting_desc:after, table.dataTable > thead .sorting_asc_disabled:before, 
table.dataTable > thead .sorting_asc_disabled:after, table.dataTable > thead .sorting_desc_disabled:before, table.dataTable > thead .sorting_desc_disabled:after { 
    top: 0.5em; }
table.dataTable > thead .sorting:before, table.dataTable > thead .sorting_asc:before, table.dataTable > thead .sorting_desc:before, 
table.dataTable > thead .sorting_asc_disabled:before, table.dataTable > thead .sorting_desc_disabled:before {
    left: 0.5em;}
table.dataTable > thead .sorting:after, table.dataTable > thead .sorting_asc:after, table.dataTable > thead .sorting_desc:after, 
table.dataTable > thead .sorting_asc_disabled:after, table.dataTable > thead .sorting_desc_disabled:after {
    left: 1em;}
table.dataTable > thead > tr > th:not(.sorting_disabled), table.dataTable > thead > tr > td:not(.sorting_disabled) { padding-right: 5px; }

/*** Banka i plaćanja ***/
.pay-logos { display:flex; background-color: #fff; justify-content: center; }
.pay-logos img { margin:0 20px; }

/***  Footer   ***/
footer.footer { padding: 30px 0; color: #ddd4cb; }
.foot-logo { width: 200px; height: auto; }
footer.footer .navbar-nav li { width: 100%; }
footer.footer .navbar-nav li a { display: block; color: #ddd4cb; text-decoration: none; border-bottom: 1px solid #e0bd5d; padding: 3px 0; transition: all ease 0.3s; }
footer.footer .navbar-nav li a:hover { color: #e0bd5d; }
footer.footer .copyright { color: #e0bd5d; font-size: 12px; padding-top: 30px; }

@media (min-width: 768px) {
    .mob-only { display: none; }
    .border-right { border-right: 1px solid #5e4432; }
    .pl-50 { padding-left: 50px; }
    .pr-50 { padding-right: 50px; }
    .table>:not(.caption)>*>*:not(:last-child) { border-bottom-width: 1px; border-right-width: 1px; border-color: #ddd !important; }
    .resetform input[type="text"] { min-width: 450px; }
    .sameimage-wrapper { height: 150px; }
    .d-d-flex { display: flex; }
    .box-bordering:not(:last-child) { border-right: 1px solid #ddd; }
	.box-bordering { padding: 0 20px; }
    .mygridboxes>* { width: 31.3333333333%; margin: 1%; box-shadow: 0 0 15px #ddd; border-radius: 5px; /*padding-top: 10px;*/ padding: 0; overflow: hidden; }
    .card-text-farm {  }
    .neki-mbr-1 { margin-right: 0.5em; }
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { max-width: 1324px; }
    .home-hero { padding-bottom: 100px; margin-top: -191px; padding-top: 200px; }
}

@media (max-width: 992px) {
    .top-bar .navbar-nav { flex-direction: row; }
    .slick-track { height: 150px; }
    nav.navbar .collapsing { margin: 0 -12px; background-color: #5e4432; }
    .navbar-collapse.collapse { background-color: #5e4432; margin: 0 -12px; }
    header.hero .navbar-nav .nav-link:focus, header.hero .navbar-nav .nav-link:hover, header.hero .navbar-nav .nav-link.active { border-bottom: none; color: #e0bd5d; }
    header.hero .navbar-nav .nav-link { border-bottom: none; }
    .my-navbar .navbar-collapse { background-color: transparent; margin: 20px 0 0 0; }
    .my-navbar .navbar-collapse .nav-item { margin-bottom: 3px; }
    .my-navbar .navbar-collapse .nav-item a { padding-left: 10px; }
    .navbar-toggler:focus { box-shadow: none; }
}
@media (max-width: 767px) {
    .desk-only { display: none; }
    body { font-size: 16px; }
    body:not(.main\.home) nav.navbar-dark { background-color: #5e4432; }
    header.hero { position: fixed; width: -webkit-fill-available; z-index: 999;}
    nav.navbar-dark { background-color: rgb(94 68 50 / 90%); }
    .navbar-nav.main-menu .nav-item a { color: #ffffff !important; }
    header nav .dropdown-menu { background-color: #4c3729; }
    main { margin-top: 187px;}
    section.page-hero { background-position-y: 160px; background-size: contain; padding-bottom: 0; }
    section.page-hero .container .row > .col-md-6 { margin-top: 26%; padding-top: 30px; /*background-color: #f8f2e9;*/ }
    section.page-hero .container .row > .col-md-6 .wht-text { color: #5e4432; text-shadow: none; }
    section.page-hero .container .row > .col-md-6 .home-hero-txt { color: #5e4432; text-shadow: none; }
    .home-hero-txt { font-size: 16px; }
    .row.moboverflow { background-color: #f8f2e9; }
    .home-hero-txt { margin-bottom: 30px !important; }
    .slick-arrow { width: 1rem; height: 1rem; }
    .moboverflow { overflow: hidden; }
    .slick-arrow.slick-prev { left: 0; }
    .slick-arrow.slick-next { right: 0; }
    .mobtable, .mobtable thead, .mobtable tbody, .mobtable th, .mobtable td, .mobtable tr { display: block; }
	.mobtable thead tr { position: absolute; top: -9999px; left: -9999px; }
	.mobtable td { border: none; border-bottom: 1px solid #eee; position: relative; padding-left: 50% !important; }
	.mobtable td:before { position: absolute; top: 6px; left: 6px; width: 45%; padding-right: 10px; white-space: normal; word-wrap: break-word; }
    .sameimage-wrapper { max-height: 300px; }
    .mob-full-width { flex-direction: column; }
    .col-exeption .col-sm-5 { flex: 0 0 auto; width: 41.66666667%; }
    .col-exeption .col-sm-4 { flex: 0 0 auto; width: 33.33333333%; }
    .col-exeption .col-sm-3 { flex: 0 0 auto; width: 25%; }
    .box-bordering:not(:last-child) { border-bottom: 1px solid #ddd }
	.box-bordering { padding: 20px 0; }
    .neki-mbr-1 { margin-bottom: 0.5em; }
    .pay-logos { flex-wrap: wrap; }
    .pay-logos img { max-height: 36px;}
    
}
@media (max-width: 480px) {
    .top-bar { font-size: 12px; }
    body:not(.shrink) nav.navbar .navbar-brand img { max-width: 70%; height: auto; }
}

/* dodao Mihas */
.info-box {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}

.info-box .tooltip {
    visibility: hidden;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Pozicija iznad elementa */
    left: 50%;
    margin-left: -150px; /* Pomak za centriranje */
    opacity: 0;
    transition: opacity 0.3s;
}

.info-box:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
.False { border-color: #ffaaaa !important; background-color: #ffeeee !important; }
.modal { z-index: 10000; }
.table>:not(caption)>*>* { padding: 6px; }