{% extends "layout.html" %}
{% block content %}
<section class="page-hero farmpage">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 class="wht-text">Farme</h1>
                <div class="home-hero-txt mb-5">
                    Farme je strana platforme „Moje stado“ na kojoj poljoprivredna gazdinstva predstavljaju sebe i svoje usluge.
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>
<section class="firstsection mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 sidebar">
                <form action="{{url_for('farms.farm_list')}}" method="POST">
                    <!--<h2>Filteri</h2>-->
                    <div class="card mb-3">
                        <div class="card-header">
                            Opština
                        </div>
                        <div class="card-body">
                            <select class="form-select mb-2" id="municipality" name="municipality">
                            <option value="0">Sve opštine</option>
                            {% for municipality in municipality_filter_list %}
                                <option value="{{municipality.id}}">{{municipality.municipality_name}}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            Organska proizvodnja
                        </div>
                        <div class="card-body">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="organic_filter" name="organic_filter">
                                <label class="form-check-label" for="organic_filter">Organski</label>
                                <a href="https://sr.wikipedia.org/sr/Organska_poljoprivreda" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="Detaljnije o organskoj proizvodnji">
                                    <i class="fas fa-question-circle"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-9">
                <div class="row row-cols-1 row-cols-md-3 g-4 mygridboxes">
                    {% if farm_list %}
                    {% for farm in farm_list %}
                    <div class="col">
                        <div class="sameimage-wrapper">
                            <a href="{{url_for('farms.farm_detail', farm_id=farm.id)}}" class=""><img src="static/farm_image/{{ farm.farm_image }}" class="card-img-top" alt="Slika Farme {{ farm.farm_name }}"></a>
                        </div>
                        <div class="card-body-mine">
                            <h5 class="card-title"><a href="{{url_for('farms.farm_detail', farm_id=farm.id)}}" class="invert-link">{{ farm.farm_name }}</a></h5>
                            <p class="card-text mb-0">Lokacija: {{ farm.farm_city }}</p>
                            <p class="card-text mb-3">Opština: {{ farm.municipality_farm.municipality_name }}</p>
                            <a href="{{url_for('farms.farm_detail', farm_id=farm.id)}}" class="btn btn-secondary font-size-14 center-button">Detaljnije</a>
                        </div>
                    </div>
                    {% endfor%}
                    {% else %}
                    <div class="col-12 text-center my-5">
                        <div class="alert alert-info">
                            <h4>Ne postoje farme za zadati kriterijum selekcije. Molimo Vas da pokušate sa drugim parametrima.</h4>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content%}
{% block scripts %}
<script>
    $(document).ready(function() {
        $("#municipality").select2({
            multiple: true,
            closeOnSelect: false,
            placeholder: "Izaberi opštinu",
            allowClear: true,
            dropdownAutoWidth: true,
            width: '100%',
            theme: "classic"
        });

        // Preselektuj izabrane opcije
        var selectedValues = JSON.parse('{{ selected_municipality | safe }}');
        var organic_filter = JSON.parse('{{ organic_filter | safe }}');
        console.log(selectedValues);
        $("#municipality").val(selectedValues).trigger('change');
        $("#organic_filter").prop('checked', organic_filter);
    });
    $(document).ready(function() {
        $('#municipality').change(function() {
            // post form
            $('form').submit();
        });
        $('#organic_filter').change(function() {
            // post form
            $('form').submit();
        });
    });
</script>
{% endblock %}