{% extends "layout.html" %}
{% block content %}
<section class="register-page firstsection mb-5">
    <div class="container">
        <h2>Uredi profil</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.surname.label }}
                {{ form.surname(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.address.label }}
                {{ form.address(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.zip_code.label }}
                {{ form.zip_code(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.city.label }}
                {{ form.city(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.jmbg.label }}
                {{ form.jmbg(class="form-control") }}
            </div>
            {{ form.submit(class="btn btn-primary mt-20") }}
        </form>
    </div>
</section>
{% endblock %}