{% extends "layout.html" %}
{% block content %}
<section class="register-page firstsection mb-5">
    <div class="container">
        <h2>Moji podaci - Admin</h2>
        <div class="row">
            <nav class="navbar-expand-lg navbar-light my-navbar pb-10">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav2" aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav2">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('users.settings') }}">Podešavanja</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('users.admin_view_farms') }}">PG</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('users.admin_view_users') }}">Korisnici</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('users.admin_view_purchases') }}">Kupovine</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('users.admin_view_overview') }}">Pregledi</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('users.admin_view_slips') }}">Izvodi</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="container">
        <form action="" method="POST" enctype="multipart/form-data">
            <h2>Učitavanje izvoda</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="fileUpload">Učitaj izvod (xlsx format):</label>
                        <input type="file" class="form-control-file" id="fileUpload" name="fileUpload" accept=".xlsx">
                    </div>
                    <button type="submit" class="btn btn-secondary" id="importButton" name="importButton" disabled>Učitaj izvod</button>
                    <button type="submit" class="btn btn-secondary" id="saveAndProcessButton" name="saveAndProcessButton" disabled>Sačuvaj i rasknjiži uplate</button>
                </div>
                <div class="col-md-6">
                    {% if broj_izvoda_element %}
                    <div class="row">
                        <div class="col">
                            <label for="statement_number">Broj izvoda</label>
                            <input class="form-control" id="statement_number" name="statement_number" value="{{ broj_izvoda_element }}" readonly>
                            <label for="payment_date">Datum izvoda</label>
                            <input class="form-control" id="payment_date" name="payment_date" value="{{ datum_izvoda_element }}" readonly>
                        </div>
                        <div class="col">
                            <label for="statment_nubmer">Iznos potražuje</label>
                            <input class="form-control mb-2" id="c" name="total_payment_amount" type="text" value="{{ iznos_potrazuje_element }}"  readonly>
                            <label for="number_of_items">Broj uplata</label>
                            <input class="form-control" id="number_of_items" name="number_of_items" type="text" value="{{ broj_pojavljivanja }}"  readonly>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if stavke %}
            <hr>
            <table id="data" class="table table-striped dataTable no-footer invoices" role="grid" aria-describedby="data_info">
                <thead>
                    <tr>
                        <th>Rbr</th>
                        <th>ReferenceOrder</th>
                        <th>DatumOrdera</th>
                        <th>ReferencaNaloga</th>
                        <th>BrutoIznos</th>
                        <th>UkupnaProvizija</th>
                        <th>IznosPLNaloga</th>
                        <th>MarketplaceProvizija</th>
                        <th>PaySpotProvizija</th>
                        <th>NaknadaPPA</th>
                        <th>DatumUplateBanke</th>
                        <th>DatumPotvrde</th>
                        <th>PrimalacUplate</th>
                        <th>RacunUplate</th>
                        <th>PayspotReferenca</th>
                        <th>DatumValute</th>
                        <th>Dopuna</th>
                        <th>StatusObrade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in stavke %}
                    <tr>
                        <td>{{ item['Rbr'] }}</td>
                        <td>{{ item['ReferenceOrder'] }}</td>
                        <td>{{ item['DatumOrdera'] }}</td>
                        <td>{{ item['ReferencaNaloga'] }}</td>
                        <td>{{ '%.2f'|format(item['BrutoIznos']) if item['BrutoIznos'] is not none else '' }}</td>
                        <td>{{ '%.2f'|format(item['UkupnaProvizija']) if item['UkupnaProvizija'] is not none else '' }}</td>
                        <td>{{ '%.2f'|format(item['IznosPLNaloga']) if item['IznosPLNaloga'] is not none else '' }}</td>
                        <td>{{ '%.2f'|format(item['MarketplaceProvizija']) if item['MarketplaceProvizija'] is not none else '' }}</td>
                        <td>{{ '%.2f'|format(item['PaySpotProvizija']) if item['PaySpotProvizija'] is not none else '' }}</td>
                        <td>{{ '%.2f'|format(item['NaknadaPPA']) if item['NaknadaPPA'] is not none else '' }}</td>
                        <td>{{ item['DatumUplateBanke'] }}</td>
                        <td>{{ item['DatumPotvrde'] }}</td>
                        <td>{{ item['PrimalacUplate'] }}</td>
                        <td>{{ item['RacunUplate'] }}</td>
                        <td>{{ item['PayspotReferenca'] }}</td>
                        <td>{{ item['DatumValute'] }}</td>
                        <td>{{ item['Dopuna'] }}</td>
                        <td>{{ item['StatusObrade'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <hr>
            {% if payment_statements %}
                <h2>Arhiva izvoda</h2>
                <table id="payment_statments_data" class="table table-striped dataTable no-footer invoices" role="grid" aria-describedby="data_info" style="width: 968px;">
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Broj izvoda</th>
                            <th>Ukupna uplata</th>
                            <th>Broj stavki (broj greškaka)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for payment_statement in payment_statements %}
                        <tr>
                            <td>{{ payment_statement.payment_date }}</td>
                            <td>{{ payment_statement.statement_number }}</td>
                            <td>{{ payment_statement.total_payment_amount }}</td>
                            <td>{{ payment_statement.number_of_items }} ({{ payment_statement.number_of_errors }})</td>
                            <td><a href=""><i class="fa fa-magnifying-glass"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            {% endif %}
        </div>
    </form>
</section>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        var fileInput = $('#fileUpload');
        var importButton = $('#importButton');
        var saveAndProcessButton = $('#saveAndProcessButton');
        
        fileInput.on('change', function() {
            if (fileInput.get(0).files.length > 0) {
                importButton.prop('disabled', false);
            } else {
                importButton.prop('disabled', true);
            }
        });
        if ($('#data').length) {
            saveAndProcessButton.prop('disabled', false)
        }
    });
</script>
<script>
    const rows = document.querySelectorAll('#payment_statments_data tbody tr');

    rows.forEach(row => {
    const tds = row.querySelectorAll('td');
    let containsZero = false;

    tds.forEach(td => {
        if (td.textContent.includes('(0)')) {
        containsZero = true;
        }
    });

    if (!containsZero) {
        row.style.backgroundColor = 'rgba(255,0,0,0.1)';
    }
    });
</script>
<script>
    $(document).ready(function() {
        $('#payment_statments_data').DataTable({
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json'
            },
            order: [[0, 'desc']]
        });
    });
</script>
{% endblock scripts %}