{% extends "layout.html" %}
{% block content %}
<section class="register-page firstsection mb-5">
    <div class="container">
        <h2>Moji podaci - Admin</h2>
        <div class="row">
            <nav class="navbar-expand-lg navbar-light my-navbar pb-10">
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav2" aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav2">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('users.settings') }}">Podešavanja</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('users.admin_view_farms') }}">PG</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('users.admin_view_users') }}">Korisnici</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('users.admin_view_purchases') }}">Kupovine</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('users.admin_view_overview') }}">Pregledi</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('users.admin_view_slips') }}">Izvodi</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="container">
        <h2>Prikaz PG</h2>
        <table class="table table-striped" id="Data">
            <thead>
                <tr>
                    <th>Datum registracije</th>
                    <th>PG</th>
                    <th>Opština</th>
                    <th>Mesto</th>
                    <th>Telefon</th>
                    <th>Mejl</th>
                    <th>Ugovor</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for farm in farms %}
                <tr>
                    <td>{{ farm.registration_date }}</td>
                    <td>{{ farm.farm_name }}</td>
                    <td>{{ farm.municipality_farm.municipality_name }}</td>
                    <td>{{ farm.farm_city }}</td>
                    <td>{{ farm.user_farm.phone}}</td>
                    <td>{{ farm.user_farm.email}}</td>
                    <td>data</td>
                    <td>
                        {% if farm.user_farm.user_type == 'farm_active' %}
                        <a href="{{ url_for('users.my_profile', user_id=farm.user_id ) }}" class="btn-icon btn-primary font-size-14" title="Uredi PG"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="{{ url_for('users.deactivate_farm_user', user_id=farm.user_id ) }}" class="btn-icon btn-danger font-size-14" title="Deaktiviraj PG"><i class="fa-solid fa-power-off"></i></a>
                        {% elif farm.user_farm.user_type == 'farm_inactive' %}
                        <a href="{{ url_for('users.remove_farm_user', user_id=farm.user_id ) }}" class="btn-icon btn-danger font-size-14" title="Obriši PG"><i class="fa-solid fa-trash"></i></a>
                        <a href="{{ url_for('users.activate_farm_user', user_id=farm.user_id ) }}" class="btn-icon btn-success font-size-14" title="Aktiviraj PG"><i class="fa-solid fa-power-off"></i></a>
                        {% elif farm.user_farm.user_type == 'farm_unverified' %}
                        <a href="{{ url_for('users.remove_farm_user', user_id=farm.user_id ) }}" class="btn-icon btn-danger font-size-14" title="Obriši PG"><i class="fa-solid fa-trash"></i></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('#Data').DataTable({
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json'
            },
            order: [[0, 'desc']]
        });
    });
</script>
{% endblock %}