{% extends "layout.html" %}
{% block content %}
<section class="page-hero registerpage">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 class="wht-text">Moj nalog</h1>
                <div class="home-hero-txt mb-5">
                    <!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
                    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat-->
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>
<section class="register-page firstsection mb-5">
    <div class="container">
        <div class="row">
            <nav class="navbar-expand-lg navbar-light my-navbar pb-10">
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav2" aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav2">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('users.my_profile', user_id=user.id) }}">Moji podaci</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('users.my_farm', farm_id=farm.id) }}">Moja farma</a>
                        </li>
                        {% if farm_profile_completed %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('users.my_flock', farm_id=farm.id) }}">Moje stado</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('users.my_market', farm_id=farm.id) }}">Moja prodavnica</a>
                        </li>
                        {% else %}
                        <p>Nekompletiran profil!</p>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</section>
<section class="register-page firstsection mb-5">
    <div class="container">
        <div class="row mb-50">
            <h2 class="content-title">Moja farma</h2>
            <div class="col-md-3">
                <div id="myCarousel-" class="carousel slide" data-bs-ride="carousel-">
                    <div class="carousel-inner">
                        {% for farm_image in farm.farm_image_collection %}
                        <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                            <img src="/static/farm_image/{{ farm_image }}" class="d-block w-100" alt="Slika Farme {{ farm.farm_name }}">
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-md-9">
                <h3>{{farm.farm_name}} <a href="{{ url_for('farms.farm_detail', farm_id=farm.id) }}"><i class="fa-solid fa-link"></i></a></h3>
                <h4>{{farm.farm_city}}</h4>
                <p class="preserve-newlines">{{farm.farm_description}}</p>
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#descriptionModal">
                    Izmena opisa poljoprivednog gazdinstva
                </button>
                <!-- The modal -->
                <div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="descriptionModalLabel">Opis poljoprivednog gazdinstva</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="{{ url_for('farms.edit_farm_description') }}" method="POST">
                                    <input type="hidden" name="farm_id" value="{{ farm.id }}">
                                    <div class="row">
                                        <div class="form-group mb-3">
                                            <label for="farm_name">Naziv poljoprivednog gazdinstva</label>
                                            <input type="text" name="farm_name" value="{{ farm.farm_name }}" class="form-control">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="farm_description">Opis poljoprivednog gazdinstva</label>
                                            <textarea class="form-control" name="farm_description" id="farm_description">{{ farm.farm_description }}</textarea>
                                        </div>
                                        <button type="submit" class="btn btn-secondary narrow-center">Sačuvaj</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-d-flex pt-40 mb-50">
                <div class="col-md-4 form-group box-bordering">
                    <p>U ovoj sekciji možete upravljati svojim slikama. Možete dodati maksimalno 10 slika...</p>
                    <form action="{{ url_for('farms.upload_image') }}" method="POST" enctype="multipart/form-data" id="upload_form">
                        <input type="hidden" name="farm_id" value="{{ farm.id }}">
                        <div class="form-group">
                            <div class="mb-3">
                                <label for="picture" class="form-label">Izaberi sliku</label>
                                <input type="file" class="form-control" id="picture" name="picture" accept=".jpg, .jpeg, .png" required>
                            </div>
                            <button type="submit" class="btn btn-secondary">Dodaj sliku</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-4 form-group box-bordering">
                    <p>U ovoj sekciji možete pregledati i obrisati slike farme</p>
                    <!-- Button to open the modal -->
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#imageModal">
                        Pregled i brisanje slika
                    </button>

                    <!-- The modal -->
                    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="imageModalLabel">Slike farme</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('farms.delete_image') }}" method="POST">
                                        <input type="hidden" name="farm_id" value="{{ farm.id }}">
                                        <div class="row">
                                        {% for farm_image in farm.farm_image_collection %}
                                            <div class="col-md-3">
                                            <img src="/static/farm_image/{{ farm_image }}" class="img-fluid rounded" alt="Slika Farme {{ farm.farm_name }}">
                                            <button type="submit" class="btn btn-danger obrisi-sliku" name="farm_image" value="{{ farm_image }}">X</button>
                                            </div>
                                        {% endfor %}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 form-group box-bordering">
                    <p>U ovoj sekciji možete pregledati i postaviti naslovnu sliku</p>
                    <!-- Button to open the modal -->
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#defaultImageModal">
                        Podešavanje naslovne slike
                    </button>

                    <!-- The modal -->
                    <div class="modal fade" id="defaultImageModal" tabindex="-1" role="dialog" aria-labelledby="defaultImageModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div>
                                        <h5 class="modal-title" id="defaultImageModalLabel">Slike farme</h5>
                                        <p>Izaberi izdvojenu sliku farme</p>
                                    </div>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('farms.default_image') }}" method="POST">
                                        <input type="hidden" name="farm_id" value="{{ farm.id }}">
                                        <div class="row">
                                        {% for farm_image in farm.farm_image_collection %}
                                            <div class="col-md-3">
                                                <img src="/static/farm_image/{{ farm_image }}" class="img-fluid rounded" alt="Slika Farme {{ farm.farm_name }}">
                                                <button type="submit" class="btn btn-success obrisi-sliku" name="farm_image" value="{{ farm_image }}">&#x2713;</button>
                                            </div>
                                        {% endfor %}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <form action="{{ url_for('users.save_services') }}" method="POST">
                    <input type="hidden" name="farm_id" value="{{ farm.id }}">
                    <h3 class="w-auto">Definisanje cena usluga po kilogramu</h3>
                    <div class="col-md-12 d-flex form-box mob-full-width">
                        {% for service, category in farm.services.items() %}
                        <div class="col-md-6 plr-20 soft-border-right">
                            <h5 class="box-heading">{{ service }}</h5>
                            {% for category_id, price in category.items() %}
                            <div class="form-group row mb-2 soft-border-bottom col-exeption">
                                <label class="col-sm-5 col-form-label" for="{{service}}_{{category_id}}">
                                    {{ animal_categories[category_id] }}
                                </label>
                                <div class="col-sm-4">
                                    <input 
                                        type="number" 
                                        class="form-control mb-10" 
                                        id="{{service}}_{{category_id}}" 
                                        name="{{service}}_{{category_id}}" 
                                        value="{{ price }}" 
                                        step="0.01" 
                                        required
                                    >
                                </div>
                                <div class="col-sm-3">
                                    <div class="jedinica-mere pb-10">rsd/kg</div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="text-right mt-4">
                        <button type="submit" class="btn btn-primary">Sačuvaj</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block scripts %}

{% endblock scripts %}