{% extends "layout.html" %}
{% block content %}
<section class="page-hero registerpage">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 class="wht-text">Registracija korisnika</h1>
                <div class="home-hero-txt mb-5">
                    Registrujte se i ostvarite sve pogodnosti i prednosti koje platforma nudi ktajnjim korisnicima
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>
<section class="register-page firstsection mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="" method="POST" class="col-md-12 d-d-flex flex-wrap">
                    {{ form.hidden_tag() }}
                    <div class="col-md-2 plr-10"></div>
                    <div class="col-md-8 form-box">
                        <div class="col-md-12 d-d-flex mb-20">
                            <div class="form-group col-md-4 plr-10">
                                {{ form.email.label }}
                                {{ form.email(class="form-control form-control-lg", id="email" ) }}
                            </div>
                            <div class="form-group col-md-4 plr-10">
                                {{ form.password.label }}
                                {{ form.password(class="form-control form-control-lg", id="password") }}
                            </div>
                            <div class="form-group col-md-4 plr-10">
                                {{ form.confirm_password.label }}
                                {{ form.confirm_password(class="form-control form-control-lg", id="confirm_password") }}
                            </div>
                        </div>
                        <h4>Lični podaci</h4>
                        <div class="col-md-12 d-d-flex">
                            <div class="form-group col-md-6 plr-10">
                                {{ form.name.label }}
                                {{ form.name(class="form-control form-control-lg", id="name") }}
                            </div>
                            <div class="form-group col-md-6 plr-10">
                                {{ form.surname.label }}
                                {{ form.surname(class="form-control form-control-lg", id="surname") }}
                            </div>
                        </div>
                        <div class="col-md-12 d-d-flex">
                            <div class="form-group col-md-4 plr-10">
                                {{ form.phone.label }}
                                {{ form.phone(class="form-control form-control-lg", id="phone", type="number") }}
                            </div>
                            <div class="form-group col-md-8 plr-10">
                                {{ form.address.label }}
                                {{ form.address(class="form-control form-control-lg", id="address") }}
                            </div>
                        </div>
                        <div class="col-md-12 d-d-flex">
                            <div class="form-group col-md-5 plr-10">
                                {{ form.city.label }}
                                {{ form.city(class="form-control form-control-lg", id="city") }}
                            </div>
                            <div class="form-group col-md-3 plr-10">
                                {{ form.zip_code.label }}
                                {{ form.zip_code(class="form-control form-control-lg", id="zip_code", type="number") }}
                            </div>
                            <div class="form-group col-md-4 plr-10">
                                {{ form.newsletter.label }}
                                {{ form.newsletter(class="form-check-input", id="newsletter") }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"> </div>
                    <div class="col-md-12 plr-10 d-d-flex formsubmit">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="agreement" name="agreement">
                            <label class="form-check-label" for="agreement">Slažem se sa <a href="#">ugovorom</a></label>
                        </div>
                        <div>
                            {{ form.submit(class="btn btn-secondary", id="submit", disabled="disabled") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content%}
{% block scripts %}
<script>
    $(document).ready(function() {
        $('#agreement').change(function() {
            if($(this).is(':checked')) {
                $('#submit').prop('disabled', false);
            } else {
                $('#submit').prop('disabled', true);
            }
        });
    });
</script>
{% endblock %}