{% extends "layout.html" %}
{% block content %}
<section class="page-hero loginpage">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 class="wht-text">Reset lozinke</h1>
                <div class="home-hero-txt mb-5">
                    <!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
                    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat-->
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>
<section class="login-page firstsection mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12"> 
                <p class="center-text">Uneste Vašu mejl adresu na koju ćemo Vam poslati link za izmenu lozike.</p>
                <form method="POST" action="" class="resetform">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.email.label(class="form-control-label") }}

                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}

                    </div>
                    <div class="mb-3">
                        {{ form.submit(class="btn btn-primary input-like") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>document.body.classList.add('reset-request');</script>
</section>
{% endblock content%}