{% extends "layout.html" %}
{% block content %}
<section class="page-hero aboutpage">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 class="wht-text">O portalu</h1>
                <div class="home-hero-txt mb-5">
                    Platforma je zamišljena kao veza između poljoprivrednih gazdinstava i kupca, 
                    da olakša plasman i kupovinu kako onlajn uzgoj stoke, tako i poljoprivrednih proizvoda.
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>

<section class="about firstsection mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Za korisnike</h2>
                <p>
                    Pogodnosti i prednosti koje platforma nudi krajnjim korisnicima su: laka pretraga ponuđača domaćih proizvoda koje direktno sa 
                    poljoprivrednih gazdinstava dobijaju na kućnu adresu, kao i uslugu tova sopstvenog grla bilo gde u Srbiji.
                </p>
            </div>
            <div class="col-md-6">
                <h2>Za poslovne partnere (PG)</h2>
                <p>
                    Pogodnosti i prednosti koje platforma nudi PG su: plasman proizvoda i usluge tova fizičkim licima na teritoriji cele Srbije, 
                    pa i regiona ubuduće. Samim tim PG sebi osiguravaju plasman i povećavaju mogućnost zarade i poboljšavanje uslova kako života tako i napretka PG.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}