{% extends "layout.html" %}
{% block content %}
<section class="page-hero aboutpage">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 class="wht-text">O portalu</h1>
                <div class="home-hero-txt mb-5">
                    Platforma je zamišljena kao veza između poljoprivrednih gazdinstava i kupca, 
                    da olakša plasman i kupovinu kako onlajn uzgoj stoke, tako i poljoprivrednih proizvoda.
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>

<section class="about firstsection mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Za korisnike</h2>
                <p>
                    Pogodnosti i prednosti koje platforma nudi krajnjim korisnicima su: laka pretraga ponuđača domaćih proizvoda koje direktno sa 
                    poljoprivrednih gazdinstava dobijaju na kućnu adresu, kao i uslugu tova sopstvenog grla bilo gde u Srbiji.
                </p>
            </div>
            <div class="col-md-6">
                <h2>Za poslovne partnere (PG)</h2>
                <p>
                    Pogodnosti i prednosti koje platforma nudi PG su: plasman proizvoda i usluge tova fizičkim licima na teritoriji cele Srbije, 
                    pa i regiona ubuduće. Samim tim PG sebi osiguravaju plasman i povećavaju mogućnost zarade i poboljšavanje uslova kako života tako i napretka PG.
                </p>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div data-responsive-table-toolbar="tech-companies"></div>
    <div class="table-responsive" id="tech-companies-wrapper" data-pattern="priority-columns" data-sortable="true">
        <table cellspacing="0" id="tech-companies" class="table table-small-font table-tighten table-bordered table-striped">
            <thead>
                <tr>
                    <th>Company</th>
                    <th data-priority="1">Last Trade</th>
                    <th data-priority="3">Trade Time</th>
                    <th data-priority="1">Change</th>
                    <th data-priority="3">Prev Close</th>
                    <th data-priority="3">Open</th>
                    <th data-priority="6">Bid</th>
                    <th data-priority="6">Ask</th>
                    <th data-priority="6">1y Target Est</th>
                    <th data-priority="6">Lorem</th>
                    <th data-priority="6">Ipsum</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>GOOG <span class="co-name">Google Inc.</span></th>
                    <td>597.74</td>
                    <td>12:12PM</td>
                    <td>14.81 (2.54%)</td>
                    <td>582.93</td>
                    <td>597.95</td>
                    <td>597.73 x 100</td>
                    <td>597.91 x 300</td>
                    <td>731.10</td>
                    <td colspan="2">Spanning cell</td>
                </tr>
                <tr>
                    <th>AAPL <span class="co-name">Apple Inc.</span></th>
                    <td>378.94</td>
                    <td>12:22PM</td>
                    <td>5.74 (1.54%)</td>
                    <td>373.20</td>
                    <td>381.02</td>
                    <td>378.92 x 300</td>
                    <td>378.99 x 100</td>
                    <td>505.94</td>
                    <td colspan="2">Spanning cell</td>
                </tr>
                <tr>
                    <th>AMZN <span class="co-name">Amazon.com Inc.</span></th>
                    <td>191.55</td>
                    <td>12:23PM</td>
                    <td>3.16 (1.68%)</td>
                    <td>188.39</td>
                    <td>194.99</td>
                    <td>191.52 x 300</td>
                    <td>191.58 x 100</td>
                    <td>240.32</td>
                    <td colspan="2">Spanning cell</td>
                </tr>
                <tr>
                    <th>ORCL <span class="co-name">Oracle Corporation</span></th>
                    <td>31.15</td>
                    <td>12:44PM</td>
                    <td>1.41 (4.72%)</td>
                    <td>29.74</td>
                    <td>30.67</td>
                    <td>31.14 x 6500</td>
                    <td>31.15 x 3200</td>
                    <td>36.11</td>
                    <td colspan="2">Spanning cell</td>
                </tr>
                <tr>
                    <th>MSFT <span class="co-name">Microsoft Corporation</span></th>
                    <td>25.50</td>
                    <td>12:27PM</td>
                    <td>0.66 (2.67%)</td>
                    <td>24.84</td>
                    <td>25.37</td>
                    <td>25.50 x 71100</td>
                    <td>25.51 x 17800</td>
                    <td>31.50</td>
                    <td>Non-spanning</td>
                    <td>Non-spanning</td>
                </tr>
                <tr>
                    <th>CSCO <span class="co-name">Cisco Systems, Inc.</span></th>
                    <td>18.65</td>
                    <td>12:45PM</td>
                    <td>0.97 (5.49%)</td>
                    <td>17.68</td>
                    <td>18.23</td>
                    <td>18.65 x 10300</td>
                    <td>18.66 x 24000</td>
                    <td>21.12</td>
                    <td>Non-spanning</td>
                    <td>Non-spanning</td>
                </tr>
                <tr>
                    <th>YHOO <span class="co-name">Yahoo! Inc.</span></th>
                    <td>15.81</td>
                    <td>12:25PM</td>
                    <td>0.11 (0.67%)</td>
                    <td>15.70</td>
                    <td>15.94</td>
                    <td>15.79 x 6100</td>
                    <td>15.80 x 17000</td>
                    <td>18.16</td>
                    <td>Non-spanning</td>
                    <td>Non-spanning</td>
                </tr>
                <!-- Repeat -->
                <tr>
                    <th>GOOG <span class="co-name">Google Inc.</span></th>
                    <td>597.74</td>
                    <td>12:12PM</td>
                    <td>14.81 (2.54%)</td>
                    <td>582.93</td>
                    <td>597.95</td>
                    <td>597.73 x 100</td>
                    <td>597.91 x 300</td>
                    <td>731.10</td>
                    <td colspan="2">Spanning cell</td>
                </tr>
                <tr>
                    <th>AAPL <span class="co-name">Apple Inc.</span></th>
                    <td>378.94</td>
                    <td>12:22PM</td>
                    <td>5.74 (1.54%)</td>
                    <td>373.20</td>
                    <td>381.02</td>
                    <td>378.92 x 300</td>
                    <td>378.99 x 100</td>
                    <td>505.94</td>
                    <td colspan="2">Spanning cell</td>
                </tr>
                <tr>
                    <th>AMZN <span class="co-name">Amazon.com Inc.</span></th>
                    <td>191.55</td>
                    <td>12:23PM</td>
                    <td>3.16 (1.68%)</td>
                    <td>188.39</td>
                    <td>194.99</td>
                    <td>191.52 x 300</td>
                    <td>191.58 x 100</td>
                    <td>240.32</td>
                    <td colspan="2">Spanning cell</td>
                </tr>
                <tr>
                    <th>ORCL <span class="co-name">Oracle Corporation</span></th>
                    <td>31.15</td>
                    <td>12:44PM</td>
                    <td>1.41 (4.72%)</td>
                    <td>29.74</td>
                    <td>30.67</td>
                    <td>31.14 x 6500</td>
                    <td>31.15 x 3200</td>
                    <td>36.11</td>
                    <td colspan="2">Spanning cell</td>
                </tr>
                <tr>
                    <th>MSFT <span class="co-name">Microsoft Corporation</span></th>
                    <td>25.50</td>
                    <td>12:27PM</td>
                    <td>0.66 (2.67%)</td>
                    <td>24.84</td>
                    <td>25.37</td>
                    <td>25.50 x 71100</td>
                    <td>25.51 x 17800</td>
                    <td>31.50</td>
                    <td>Non-spanning</td>
                    <td>Non-spanning</td>
                </tr>
                <tr>
                    <th>CSCO <span class="co-name">Cisco Systems, Inc.</span></th>
                    <td>18.65</td>
                    <td>12:45PM</td>
                    <td>0.97 (5.49%)</td>
                    <td>17.68</td>
                    <td>18.23</td>
                    <td>18.65 x 10300</td>
                    <td>18.66 x 24000</td>
                    <td>21.12</td>
                    <td>Non-spanning</td>
                    <td>Non-spanning</td>
                </tr>
                <tr>
                    <th>YHOO <span class="co-name">Yahoo! Inc.</span></th>
                    <td>15.81</td>
                    <td>12:25PM</td>
                    <td>0.11 (0.67%)</td>
                    <td>15.70</td>
                    <td>15.94</td>
                    <td>15.79 x 6100</td>
                    <td>15.80 x 17000</td>
                    <td>18.16</td>
                    <td>Non-spanning</td>
                    <td>Non-spanning</td>
                </tr>
                <!-- Repeat -->
                <tr>
                    <th>GOOG <span class="co-name">Google Inc.</span></th>
                    <td>597.74</td>
                    <td>12:12PM</td>
                    <td>14.81 (2.54%)</td>
                    <td>582.93</td>
                    <td>597.95</td>
                    <td>597.73 x 100</td>
                    <td>597.91 x 300</td>
                    <td>731.10</td>
                    <td colspan="2">Spanning cell</td>
                </tr>
                <tr>
                    <th>AAPL <span class="co-name">Apple Inc.</span></th>
                    <td>378.94</td>
                    <td>12:22PM</td>
                    <td>5.74 (1.54%)</td>
                    <td>373.20</td>
                    <td>381.02</td>
                    <td>378.92 x 300</td>
                    <td>378.99 x 100</td>
                    <td>505.94</td>
                    <td colspan="2">Spanning cell</td>
                </tr>
                <tr>
                    <th>AMZN <span class="co-name">Amazon.com Inc.</span></th>
                    <td>191.55</td>
                    <td>12:23PM</td>
                    <td>3.16 (1.68%)</td>
                    <td>188.39</td>
                    <td>194.99</td>
                    <td>191.52 x 300</td>
                    <td>191.58 x 100</td>
                    <td>240.32</td>
                    <td colspan="2">Spanning cell</td>
                </tr>
                <tr>
                    <th>ORCL <span class="co-name">Oracle Corporation</span></th>
                    <td>31.15</td>
                    <td>12:44PM</td>
                    <td>1.41 (4.72%)</td>
                    <td>29.74</td>
                    <td>30.67</td>
                    <td>31.14 x 6500</td>
                    <td>31.15 x 3200</td>
                    <td>36.11</td>
                    <td colspan="2">Spanning cell</td>
                </tr>
                <tr>
                    <th>MSFT <span class="co-name">Microsoft Corporation</span></th>
                    <td>25.50</td>
                    <td>12:27PM</td>
                    <td>0.66 (2.67%)</td>
                    <td>24.84</td>
                    <td>25.37</td>
                    <td>25.50 x 71100</td>
                    <td>25.51 x 17800</td>
                    <td>31.50</td>
                    <td>Non-spanning</td>
                    <td>Non-spanning</td>
                </tr>
                <tr>
                    <th>CSCO <span class="co-name">Cisco Systems, Inc.</span></th>
                    <td>18.65</td>
                    <td>12:45PM</td>
                    <td>0.97 (5.49%)</td>
                    <td>17.68</td>
                    <td>18.23</td>
                    <td>18.65 x 10300</td>
                    <td>18.66 x 24000</td>
                    <td>21.12</td>
                    <td>Non-spanning</td>
                    <td>Non-spanning</td>
                </tr>
                <tr>
                    <th>YHOO <span class="co-name">Yahoo! Inc.</span></th>
                    <td>15.81</td>
                    <td>12:25PM</td>
                    <td>0.11 (0.67%)</td>
                    <td>15.70</td>
                    <td>15.94</td>
                    <td>15.79 x 6100</td>
                    <td>15.80 x 17000</td>
                    <td>18.16</td>
                    <td>Non-spanning</td>
                    <td>Non-spanning</td>
                </tr>
                <!-- Repeat -->
                <tr>
                    <th>GOOG <span class="co-name">Google Inc.</span></th>
                    <td>597.74</td>
                    <td>12:12PM</td>
                    <td>14.81 (2.54%)</td>
                    <td>582.93</td>
                    <td>597.95</td>
                    <td>597.73 x 100</td>
                    <td>597.91 x 300</td>
                    <td>731.10</td>
                    <td colspan="2">Spanning cell</td>
                </tr>
                <tr>
                    <th>AAPL <span class="co-name">Apple Inc.</span></th>
                    <td>378.94</td>
                    <td>12:22PM</td>
                    <td>5.74 (1.54%)</td>
                    <td>373.20</td>
                    <td>381.02</td>
                    <td>378.92 x 300</td>
                    <td>378.99 x 100</td>
                    <td>505.94</td>
                    <td colspan="2">Spanning cell</td>
                </tr>
                <tr>
                    <th>AMZN <span class="co-name">Amazon.com Inc.</span></th>
                    <td>191.55</td>
                    <td>12:23PM</td>
                    <td>3.16 (1.68%)</td>
                    <td>188.39</td>
                    <td>194.99</td>
                    <td>191.52 x 300</td>
                    <td>191.58 x 100</td>
                    <td>240.32</td>
                    <td colspan="2">Spanning cell</td>
                </tr>
                <tr>
                    <th>ORCL <span class="co-name">Oracle Corporation</span></th>
                    <td>31.15</td>
                    <td>12:44PM</td>
                    <td>1.41 (4.72%)</td>
                    <td>29.74</td>
                    <td>30.67</td>
                    <td>31.14 x 6500</td>
                    <td>31.15 x 3200</td>
                    <td>36.11</td>
                    <td colspan="2">Spanning cell</td>
                </tr>
                <tr>
                    <th>MSFT <span class="co-name">Microsoft Corporation</span></th>
                    <td>25.50</td>
                    <td>12:27PM</td>
                    <td>0.66 (2.67%)</td>
                    <td>24.84</td>
                    <td>25.37</td>
                    <td>25.50 x 71100</td>
                    <td>25.51 x 17800</td>
                    <td>31.50</td>
                    <td>Non-spanning</td>
                    <td>Non-spanning</td>
                </tr>
                <tr>
                    <th>CSCO <span class="co-name">Cisco Systems, Inc.</span></th>
                    <td>18.65</td>
                    <td>12:45PM</td>
                    <td>0.97 (5.49%)</td>
                    <td>17.68</td>
                    <td>18.23</td>
                    <td>18.65 x 10300</td>
                    <td>18.66 x 24000</td>
                    <td>21.12</td>
                    <td>Non-spanning</td>
                    <td>Non-spanning</td>
                </tr>
                <tr>
                    <th>YHOO <span class="co-name">Yahoo! Inc.</span></th>
                    <td>15.81</td>
                    <td>12:25PM</td>
                    <td>0.11 (0.67%)</td>
                    <td>15.70</td>
                    <td>15.94</td>
                    <td>15.79 x 6100</td>
                    <td>15.80 x 17000</td>
                    <td>18.16</td>
                    <td>Non-spanning</td>
                    <td>Non-spanning</td>
                </tr>
                <!-- Repeat -->
                <tr>
                    <th>GOOG <span class="co-name">Google Inc.</span></th>
                    <td>597.74</td>
                    <td>12:12PM</td>
                    <td>14.81 (2.54%)</td>
                    <td>582.93</td>
                    <td>597.95</td>
                    <td>597.73 x 100</td>
                    <td>597.91 x 300</td>
                    <td>731.10</td>
                    <td colspan="2">Spanning cell</td>
                </tr>
                <tr>
                    <th>AAPL <span class="co-name">Apple Inc.</span></th>
                    <td>378.94</td>
                    <td>12:22PM</td>
                    <td>5.74 (1.54%)</td>
                    <td>373.20</td>
                    <td>381.02</td>
                    <td>378.92 x 300</td>
                    <td>378.99 x 100</td>
                    <td>505.94</td>
                    <td colspan="2">Spanning cell</td>
                </tr>
                <tr>
                    <th>AMZN <span class="co-name">Amazon.com Inc.</span></th>
                    <td>191.55</td>
                    <td>12:23PM</td>
                    <td>3.16 (1.68%)</td>
                    <td>188.39</td>
                    <td>194.99</td>
                    <td>191.52 x 300</td>
                    <td>191.58 x 100</td>
                    <td>240.32</td>
                    <td colspan="2">Spanning cell</td>
                </tr>
                <tr>
                    <th>ORCL <span class="co-name">Oracle Corporation</span></th>
                    <td>31.15</td>
                    <td>12:44PM</td>
                    <td>1.41 (4.72%)</td>
                    <td>29.74</td>
                    <td>30.67</td>
                    <td>31.14 x 6500</td>
                    <td>31.15 x 3200</td>
                    <td>36.11</td>
                    <td colspan="2">Spanning cell</td>
                </tr>
                <tr>
                    <th>MSFT <span class="co-name">Microsoft Corporation</span></th>
                    <td>25.50</td>
                    <td>12:27PM</td>
                    <td>0.66 (2.67%)</td>
                    <td>24.84</td>
                    <td>25.37</td>
                    <td>25.50 x 71100</td>
                    <td>25.51 x 17800</td>
                    <td>31.50</td>
                    <td>Non-spanning</td>
                    <td>Non-spanning</td>
                </tr>
                <tr>
                    <th>CSCO <span class="co-name">Cisco Systems, Inc.</span></th>
                    <td>18.65</td>
                    <td>12:45PM</td>
                    <td>0.97 (5.49%)</td>
                    <td>17.68</td>
                    <td>18.23</td>
                    <td>18.65 x 10300</td>
                    <td>18.66 x 24000</td>
                    <td>21.12</td>
                    <td>Non-spanning</td>
                    <td>Non-spanning</td>
                </tr>
                <tr>
                    <th>YHOO <span class="co-name">Yahoo! Inc.</span></th>
                    <td>15.81</td>
                    <td>12:25PM</td>
                    <td>0.11 (0.67%)</td>
                    <td>15.70</td>
                    <td>15.94</td>
                    <td>15.79 x 6100</td>
                    <td>15.80 x 17000</td>
                    <td>18.16</td>
                    <td>Non-spanning</td>
                    <td>Non-spanning</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<hr>

<button id="toggleColumnsBtn">Izaberi kolone</button>
<div id="columnMenu">
    <label><input type="checkbox" data-column="0" checked> Kolona 1</label>
    <label><input type="checkbox" data-column="1" checked> Kolona 2</label>
    <label><input type="checkbox" data-column="2" checked> Kolona 3</label>
    <label><input type="checkbox" data-column="3" checked> Kolona 4</label>
    <label><input type="checkbox" data-column="4" checked> Kolona 5</label>
    <label><input type="checkbox" data-column="5" checked> Kolona 6</label>
    <label><input type="checkbox" data-column="6" checked> Kolona 7</label>
    <label><input type="checkbox" data-column="7" checked> Kolona 8</label>
    <label><input type="checkbox" data-column="8" checked> Kolona 9</label>
    <label><input type="checkbox" data-column="9" checked> Kolona 10</label>
</div>

<table id="example" style="width:100%" class="display table table-small-font table-tighten table-bordered table-striped">
    <thead>
        <tr>
            <th>Kolona 1</th>
            <th>Kolona 2</th>
            <th>Kolona 3</th>
            <th>Kolona 4</th>
            <th>Kolona 5</th>
            <th>Kolona 6</th>
            <th>Kolona 7</th>
            <th>Kolona 8</th>
            <th>Kolona 9</th>
            <th>Kolona 10</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Podatak 1</td>
            <td>Podatak 2</td>
            <td>Podatak 3</td>
            <td>Podatak 4</td>
            <td>Podatak 5</td>
            <td>Podatak 6</td>
            <td>Podatak 7</td>
            <td>Podatak 8</td>
            <td>Podatak 9</td>
            <td>Podatak 10</td>
        </tr>
        <tr>
            <td>Podatak 11</td>
            <td>Podatak 12</td>
            <td>Podatak 13</td>
            <td>Podatak 14</td>
            <td>Podatak 15</td>
            <td>Podatak 16</td>
            <td>Podatak 17</td>
            <td>Podatak 18</td>
            <td>Podatak 19</td>
            <td>Podatak 20</td>
        </tr>
        <tr>
            <td>Podatak 21</td>
            <td>Podatak 22</td>
            <td>Podatak 23</td>
            <td>Podatak 24</td>
            <td>Podatak 25</td>
            <td>Podatak 26</td>
            <td>Podatak 27</td>
            <td>Podatak 28</td>
            <td>Podatak 29</td>
            <td>Podatak 30</td>
        </tr>
        <tr>
            <td>Podatak 31</td>
            <td>Podatak 32</td>
            <td>Podatak 33</td>
            <td>Podatak 34</td>
            <td>Podatak 35</td>
            <td>Podatak 36</td>
            <td>Podatak 37</td>
            <td>Podatak 38</td>
            <td>Podatak 39</td>
            <td>Podatak 40</td>
        </tr>
        <tr>
            <td>Podatak 41</td>
            <td>Podatak 42</td>
            <td>Podatak 43</td>
            <td>Podatak 44</td>
            <td>Podatak 45</td>
            <td>Podatak 46</td>
            <td>Podatak 47</td>
            <td>Podatak 48</td>
            <td>Podatak 49</td>
            <td>Podatak 50</td>
        </tr>
    </tbody>
</table>


{% endblock content %}
{% block scripts %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/rwd-table.js') }}"></script> -->

<script>
    $(document).ready(function() {
        // Inicijalizacija DataTables
        var table = $('#example').DataTable({
            // Podešavanja za početnu vidljivost svih kolona
            "columnDefs": [
                {
                    "targets": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], // Sve kolone
                    "visible": true // Svi su vidljivi po defaultu
                }
            ]
        });

        // Prikaži/sakrij meni kada se klikne na dugme
        $('#toggleColumnsBtn').on('click', function() {
            $('#columnMenu').toggle();
        });

        // Upravlja vidljivošću kolona na osnovu čekiranih opcija
        $('#columnMenu input[type="checkbox"]').on('change', function() {
            var column = table.column($(this).attr('data-column'));
            column.visible(!column.visible());
        });
    });
</script>
{% endblock %}