{% extends "layout.html" %}
{% block content %}
<section class="register-page firstsection mb-5">
    <div class="container">
        <h2>Prikaz PG</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Datum registracije</th>
                    <th>PG</th>
                    <th>Opština</th>
                    <th>Mesto</th>
                    <th>Telefon</th>
                    <th>Mejl</th>
                    <th>Ugovor</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for farm in farms %}
                <tr>
                    <td>{{ farm.registration_date }}</td>
                    <td>{{ farm.farm_name }}</td>
                    <td>{{ farm.municipality_farm.municipality_name }}</td>
                    <td>{{ farm.farm_city }}</td>
                    <td>{{ farm.user_farm.phone}}</td>
                    <td>{{ farm.user_farm.email}}</td>
                    <td>data</td>
                    <td>
                        {% if farm.user_farm.user_type == 'farm_active' %}
                        <a class="btn btn-primary" href="{{ url_for('users.my_profile', user_id=farm.user_id ) }}">Edit</a>
                        <a href="{{ url_for('users.deactivate_farm_user', user_id=farm.user_id ) }}" class="btn btn-danger">Deaktiviraj PG</a>
                        {% elif farm.user_farm.user_type == 'farm_inactive' %}
                        <a href="{{ url_for('users.activate_farm_user', user_id=farm.user_id ) }}" class="btn btn-success">Aktiviraj PG</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}