{% extends "layout.html" %}
{% block content %}
<section class="register-page firstsection mb-5">
    <div class="container">
        <h2>Prikaz PG</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Datum kupovine</th>
                    <th>Korisnik</th>
                    <th>PG</th>
                    <th>Vrsta transakcije</th>
                    <th>Predmet kupovine</th>
                    <th>Jedinica mere</th>
                    <th>Cena po jedinici mere</th>
                    <th>Broj komada</th>
                    <th>Iznos</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for invoice_item in invoice_items %}
                <tr>
                    <td>{{ invoice_item.invoice_items_invoice.datetime }}</td>
                    <td>{{ invoice_item.invoice_items_invoice.user_invoice.name }} {{ invoice_item.invoice_items_invoice.user_invoice.surname }}</td>
                    <td>{{ invoice_item.invoice_item_details["farm"] }}</td>
                    {% if invoice_item.invoice_item_type == 1 %}
                    <td>Proizvod</td>
                    {% elif invoice_item.invoice_item_type == 2 %}
                    <td>Životinja</td>
                    {% elif invoice_item.invoice_item_type == 3 %}
                    <td>Usluga klanja ili obrade</td>
                    {% elif invoice_item.invoice_item_type == 4 %}
                    <td>Tov</td>
                    {% endif %}
                    <td>{{ invoice_item.invoice_item_details["product_name"] }}{{ invoice_item.invoice_item_details["category"] }}</td>

                    {% if invoice_item.invoice_item_type == 1 %}
                    <td>{{ invoice_item.invoice_item_details["unit_of_measurement"] }}</td>
                    {% elif invoice_item.invoice_item_type == 2 %}
                    <td>kg</td>
                    {% elif invoice_item.invoice_item_type == 3 %}
                    <td>kg</td>
                    {% elif invoice_item.invoice_item_type == 4 %}
                    <td>??</td>
                    {% endif %}
                    <td>{{ invoice_item.invoice_item_details["product_price_per_unit"] }}{{ invoice_item.invoice_item_details["price_per_kg"] }}</td>
                    <td>{{ invoice_item.invoice_item_details["quantity"] }}{{ invoice_item.invoice_item_details["current_weight"] }}</td>
                    <td>{{ invoice_item.invoice_item_details["total_price"] }}</td>
                    <td>pregled ugovora | ponovno generisanje ugovora</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}