{% extends "layout.html" %}
{% block content %}
    <section class="page-hero contactpage">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h1 class="wht-text">Kontakt</h1>
                    <div class="home-hero-txt mb-5">
                        
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </section>
    <section class="contact-page firstsection mb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pr-50 mb-5">
                    <p>Telefon:+381 60 36-00-779</p>
                    <p>Email: info.mojestado@gmail.com</p>
                    <p>
                        Linkovi:<br>
                        <a href="https://www.mojestado.rs">www.mojestado.rs</a><br>
                        <a href="https://www.mojestado.com">www.mojestado.com</a>
                    </p>
                </div>
                <div class="col-md-6 pl-50">
                    <form action="" method="POST" class="col-md-12 d-flex flex-wrap">
                        <div class="col-md-12">
                            <label for="name">Ime i prezime</label>
                            <input class="form-control form-control-lg" id="name" maxlength="20" minlength="2" name="name" required="" type="text" value="" wfd-id="id4">
                        </div>
                        <div class="col-md-12">
                            <label for="email">Mejl</label>
                            <input class="form-control form-control-lg" id="email" name="email" required="" type="text" value="" wfd-id="id1">
                        </div>
                        <div class="col-md-12">
                            <label for="message">Tekst poruke</label>
                            <textarea class="form-control form-control-lg" id="message" name="message" required="" type="text" value="" wfd-id="id100"></textarea>
                        </div>
                        <div class="col-md-12 plr-10 d-flex formsubmit">
                            <input class="btn btn-secondary" id="submit" name="submit" type="submit" value="Pošalji" wfd-id="id12">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content%}