{% extends "layout.html" %}
{% block content %}
<style>
    @media (max-width: 760px)  {
        .mobtable td:nth-of-type(1):before { content: "ID životinje"; }
        .mobtable td:nth-of-type(2):before { content: "Kategorija"; }
        .mobtable td:nth-of-type(3):before { content: "Potkategorija"; }
        .mobtable td:nth-of-type(4):before { content: "Rasa"; }
        .mobtable td:nth-of-type(5):before { content: "Pol"; }
        .mobtable td:nth-of-type(6):before { content: "Trenutna masa"; }
        .mobtable td:nth-of-type(7):before { content: "Cena po kg (rsd)"; }
        .mobtable td:nth-of-type(8):before { content: "Ukupna (rsd)"; }
        .mobtable td:nth-of-type(9):before { content: "Osigurano"; }
        .mobtable td:nth-of-type(10):before { content: "Organsko"; }
        .mobtable td:nth-of-type(11):before { content: "Usluge"; }
        .mobtable td:nth-of-type(12):before { content: "Karton grla"; }
        .mobtable td:nth-of-type(13):before { content: "Kupovina"; }
    }
</style>
<section class="page-hero farmpage">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                {% if farm.user_id == current_user.id %}
                <h1>{{farm.farm_name}} <a href="{{ url_for('users.my_farm', farm_id=farm.id) }}"><i class="fa-solid fa-pen-to-square"></i></a></h1>
                {% else %}
                <h1>{{farm.farm_name}}</h1>
                {% endif %}
                <h2>{{farm.farm_city}}</h2>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>
<section class="farm-page firstsection mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for farm_image in farm.farm_image_collection %}
                            <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                                <img src="/static/farm_image/{{ farm_image }}" class="d-block w-100" alt="Slika Farme {{ farm.farm_name }}">
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-md-9">
                <p>{{farm.farm_description}}</p>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <form id="filter_form" action="{{ url_for('farms.farm_detail', farm_id=farm.id) }}" method="post">
                        
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="organic_filter", name="organic_filter">
                            <label class="form-check-label" for="organic_filter">Organski</label>
                            <a href="https://sr.wikipedia.org/sr/Organska_poljoprivreda" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="Detaljnije o organskoj proizvodnji">
                                <i class="fas fa-question-circle"></i>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    {% if animals %}
                    <h2>Živa vaga</h2>
                    <table class="table table-striped mobtable">
                        <thead>
                            <tr>
                                <th>ID životinje</th>
                                <th>Kategorija</th>
                                <th>Potkategorija</th>
                                <th>Rasa</th>
                                <th>Pol</th>
                                <th>Trenutna masa</th>
                                <th>Cena po kg (rsd)</th>
                                <th>Ukupno (rsd)</th>
                                <th>Osigurano</th>
                                <th>Organsko</th>
                                <th>Usluge</th>
                                <th>Karton</th>
                                <th>Kupovina</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for animal in animals %}
                            <tr>
                                <td>{{ animal.animal_id }}</td>
                                <td>{{ animal.animal_category.animal_category_name }}</td>
                                <td>{{ animal.animal_categorization.subcategory }}</td>
                                <td>{{ animal.animal_race.animal_race_name }}</td>
                                <td>{{ animal.animal_gender }}</td>
                                <td>{{ "{:.2f}".format(animal.current_weight) }}</td>
                                <td>{{ "{:.2f}".format(animal.price_per_kg) }}</td>
                                <td>{{ "{:.2f}".format(animal.total_price) }}</td>
                                <td>{{ animal.insured }}</td>
                                <td>{{ animal.organic_animal }}</td>
                                <td>
                                    {% for service, category in farm.services.items() %}
                                        {% for category_id, price in category.items() %}
                                            {% if price | float > 0 and category_id | int == animal.animal_category.id %}
                                                {% if service == 'klanje' %}
                                                    <img src="{{ url_for('static', filename='images/klanje-icon.png') }}" alt="Usluga klanja" width="32" height="32">
                                                {% elif service == 'obrada' %}
                                                    <img src="{{ url_for('static', filename='images/obrada-icon.png') }}" alt="Usluga obrade" width="32" height="32">
                                                {% else %}
                                                    -
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% if animal.cardboard %}
                                    <a href="{{ url_for('static', filename='cardboards/' + animal.cardboard) }}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Karton</a>
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {% if animal.farm_animal.user_id != current_user.id %}
                                        {% set services = animal.farm_animal.services %}
                                        {% set klanje_value = services['klanje'].get(animal.animal_category_id|string)|int if services and services.get('klanje') else 0 %}
                                        {% set obrada_value = services['obrada'].get(animal.animal_category_id|string)|int if services and services.get('obrada') else 0 %}
                                        {% if services and services.get('klanje') and services['klanje'].get(animal.animal_category_id|string) and services['klanje'][animal.animal_category_id|string]|int > 0 %}
                                            <button class="btn btn-primary services-btn" data-bs-toggle="modal" data-bs-target="#servicesModal"
                                                    data-animal-id="{{ animal.id }}"
                                                    data-klanje-value="{{ klanje_value }}"
                                                    data-obrada-value="{{ obrada_value }}">Kupi</button>
                                        {% else %}
                                            <a class="btn btn-primary services-btn" href="{{ url_for('main.add_animal_to_cart', animal_id=animal.id)}}">Kupi</a>
                                        {% endif %}
                                        {% if animal.intended_for == "tov" %}
                                            <button class="btn tov-btn" data-bs-toggle="modal" data-bs-target="#tovModal" data-animal-id="{{ animal.id }}" data-current-weight="{{ animal.current_weight }}">Tov</button>
                                        {% endif %}
                                    {% else %}
                                        moja životinja
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p>Ovo poljoprivredno gazdinstvo trenutno nema u ponudi životinje na prodaju</p>
                    {% endif %}
                </div>
                <div>
                    {% if products %}
                    <h2>Gotovi proizvodi</h2>
                    <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
                        {% for product in products %}
                        <div class="col">
                            <div class="card h-100">
                                <div class="image-wrapper">
                                    <img src="/static/product_image/{{ product.product_image }}" class="card-img-top" alt="Slika proizvoda">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.product_name }}</h5>
                                    <p class="card-text"><strong><a href="{{ url_for('farms.farm_detail', farm_id=product.farm_id) }}" target="_blank">{{ product.farm_product.farm_name }}</a></strong>, {{ product.farm_product.municipality_farm.municipality_name }}</p>
                                    <p class="card-text"><strong>{{ product.product_price_per_unit }} rsd/{{product.unit_of_measurement}}</strong></p>
                                    <a href="{{ url_for('marketplace.product_detail', product_id=product.id) }}" class="btn btn-secondary">Kupi</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <p>Ovo poljoprivredno gazdinstvo trenutno nema u ponudi gotove proizvode</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Services Modal -->
<div class="modal fade" id="servicesModal" tabindex="-1" aria-labelledby="servicesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="servicesModalLabel">Kupovina Usluga</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="servicesForm" action="{{ url_for('main.add_services_to_chart') }}" method="POST">
                    <input type="hidden" id="serviceAnimalId" name="animalId">
                    <p>Za ovu životinju poljoprivredno gazdinstvo pruža sledeće usluge:</p>
                    
                    <!-- Klanje usluga -->
                    <div class="mb-3 form-check" id="slaughterServiceWrapper">
                        <input type="checkbox" class="form-check-input" id="slaughterService" name="slaughterService">
                        <label class="form-check-label" for="slaughterService">Klanje</label>
                    </div>
                    
                    <!-- Obrada usluga -->
                    <div class="mb-3 form-check" id="processingServiceWrapper">
                        <input type="checkbox" class="form-check-input" id="processingService" name="processingService">
                        <label class="form-check-label" for="processingService">Obrada</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Kupi</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content%}
{% block scripts %}
<script>
    $(document).ready(function() {
        var organic_filter = JSON.parse('{{ organic_filter | safe }}');
        $("#organic_filter").prop('checked', organic_filter);
        $('#organic_filter').change(function() {
            // post form
            $('#filter_form').submit();
        });
    });
    $(document).ready(function() {
        // Services modal functionality
        $('.services-btn').click(function() {
            var animalId = $(this).data('animal-id');
            var klanjeValue = $(this).data('klanje-value');
            var obradaValue = $(this).data('obrada-value');
            
            // Set animalId in the hidden input
            $('#serviceAnimalId').val(animalId);
            
            // Reset form and hide all options initially
            $('#servicesForm')[0].reset();
            $('#slaughterServiceWrapper').hide();
            $('#processingServiceWrapper').hide();

            // Show options based on values
            if (klanjeValue > 0) {
                $('#slaughterServiceWrapper').show();
            }
            if (obradaValue > 0) {
                $('#processingServiceWrapper').show();
            }
        });

        // Handling the relationship between the checkboxes - animal
        $('#processingService').change(function() {
            console.log('processingService promenjen');
            if (this.checked) {
                console.log('processingService čekiran');
                // If "Obrada" is checked, ensure "Klanje" is also checked
                $('#slaughterService').prop('checked', true);
            }
        });
    
        $('#slaughterService').change(function() {
            console.log('slaughterService promenjen');
            if (!this.checked) {
                console.log('slaughterService dečekiran');
                // If "Klanje" is unchecked, ensure "Obrada" is also unchecked
                $('#processingService').prop('checked', false);
            }
        });
        // Handling the relationship between the checkboxes - fattening
        $('#processingService_').change(function() {
            console.log('processingService_____ promenjen');
            if (this.checked) {
                console.log('processingService_____ čekiran');
                // If "Obrada" is checked, ensure "Klanje" is also checked
                $('#slaughterService_').prop('checked', true);
            }
        });
    
        $('#slaughterService_').change(function() {
            console.log('slaughterService_____ promenjen');
            if (!this.checked) {
                console.log('slaughterService_____ dečekiran');
                // If "Klanje" is unchecked, ensure "Obrada" is also unchecked
                $('#processingService_').prop('checked', false);
            }
        });
    });
</script>
{% endblock scripts %}