{% extends "layout.html" %}
{% block content %}
<section class="page-hero farmpage">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                {% if farm.user_id == current_user.id %}
                <h1>{{farm.farm_name}} <a href="{{ url_for('users.my_farm', farm_id=farm.id) }}"><i class="fa-solid fa-pen-to-square"></i></a></h1>
                {% else %}
                <h1>{{farm.farm_name}}</h1>
                {% endif %}
                <h2>{{farm.farm_city}}</h2>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>
<section class="farm-page firstsection mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for farm_image in farm.farm_image_collection %}
                            <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                                <img src="/static/farm_image/{{ farm_image }}" class="d-block w-100" alt="Slika Farme {{ farm.farm_name }}">
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-md-9">
                <p>{{farm.farm_description}}</p>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <form action="{{ url_for('farms.farm_detail', farm_id=farm.id) }}" method="post">
                        
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="organic_filter", name="organic_filter">
                            <label class="form-check-label" for="organic_filter">Organski</label>
                            <a href="https://sr.wikipedia.org/sr/Organska_poljoprivreda" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="Detaljnije o organskoj proizvodnji">
                                <i class="fas fa-question-circle"></i>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h2>Živa vaga</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID životinje</th>
                                <th>Kategorija</th>
                                <th>Potkategorija</th>
                                <th>Rasa</th>
                                <th>Pol</th>
                                <th>Trenutna masa</th>
                                <th>Cena po kg (rsd)</th>
                                <th>Ukupno (rsd)</th>
                                <th>Osigurano</th>
                                <th>Organsko</th>
                                <th>Usluge</th>
                                <th>Karton</th>
                                <th>Kupovina</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for animal in animals %}
                            <tr>
                                <td>{{ animal.animal_id }}</td>
                                <td>{{ animal.animal_category.animal_category_name }}</td>
                                <td>{{ animal.animal_categorization.subcategory }}</td>
                                <td>{{ animal.animal_race.animal_race_name }}</td>
                                <td>{{ animal.animal_gender }}</td>
                                <td>{{ animal.current_weight }}</td>
                                <td>{{ animal.price_per_kg }}</td>
                                <td>{{ animal.total_price }}</td>
                                <td>{{ animal.insured }}</td>
                                <td>{{ animal.organic_animal }}</td>
                                <td>
                                    {% for service, category in farm.services.items() %}
                                    {% for category_id, price in category.items() %}
                                    {% if price | float > 0 and category_id | int == animal.animal_category.id %}
                                    {% if service == 'klanje' %}
                                    slika klanja
                                    {% elif service == 'obrada' %}
                                    slika obrade
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                </td>
                                <td>testing</td>
                                <td>
                                    <a href="">Kupi</a>
                                    {% if animal.intended_for == "tov" %}
                                    <a href="">Tov</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div>
                    <h2>Gotovi proizvodi</h2>
                    <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
                        {% for product in products %}
                        <div class="col">
                            <div class="card h-100">
                                <div class="image-wrapper">
                                    <img src="static/product_image/slanina.jpg" class="card-img-top" alt="Slika proizvoda">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.product_name }}</h5>
                                    <p class="card-text"><strong><a href="{{ url_for('farms.farm_detail', farm_id=product.farm_id) }}" target="_blank">{{ product.farm_product.farm_name }}</a></strong>, {{ product.farm_product.municipality_farm.municipality_name }}</p>
                                    <p class="card-text"><strong>{{ product.product_price_per_unit }} rsd/{{product.unite_of_measurement}}</strong></p>
                                    <a href="#" class="btn btn-secondary">Kupi</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content%}
{% block scripts %}
<script>
    $(document).ready(function() {
        var organic_filter = JSON.parse('{{ organic_filter | safe }}');
        $("#organic_filter").prop('checked', organic_filter);
        $('#organic_filter').change(function() {
            // post form
            $('form').submit();
        });
    });
</script>
{% endblock scripts %}