{% extends "layout.html" %}
{% block content %}
<header>
    <h1>Farme</h1>
</header>
<main class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <h2>Filteri</h2>
            <div class="card mb-3">
                <div class="card-header">Lokacija</div>
                <div class="card-body">
                    <select class="form-select mb-2" id="lokacija">
                        <option value="">Sve lokacije</option>
                        <option value="beograd">Beograd</option>
                        <option value="novi_sad">Novi Sad</option>
                    </select>
                <input type="text" class="form-control mb-2" id="lokacija-search" placeholder="Pretraži lokacije">
                </div>
            </div>
        <div class="card mb-3">
            <div class="card-header">Organska proizvodnja</div>
                <div class="card-body">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="organik">
                        <label class="form-check-label" for="organik">Organski</label>
                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="right" title="Šta se podrazumeva pod organskom proizvodnjom?">
                            <i class="fas fa-question-circle"></i>
                        </a>
                        <a href="#">Detaljnije o organskoj proizvodnji</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="slike/farma1.jpg" class="card-img-top" alt="Slika Farme 1">
                        <div class="card-body">
                        <h5 class="card-title">Farma 1 Naziv</h5>
                        <p class="card-text">Lokacija: Beograd</p>
                        <i class="fas fa-tractor d-inline-block me-2"></i> Usluge: Uzgoj goveda, mleko, sirevi
                        <br>
                        <a href="farma1.html" class="btn btn-primary">Detaljnije</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="slike/farma2.jpg" class="card-img-top" alt="Slika Farme 2">
                        <div class="card-body">
                        <h5 class="card-title">Farma 2 Naziv</h5>
                        <p class="card-text">Lokacija: Novi Sad</p>
                        <i class="fas fa-apple d-inline-block me-2"></i> Usluge: Voćnjaci, jabuke, kruške
                        <br>
                        <a href="farma2.html" class="btn btn-primary">Detaljnije</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="slike/farma1.jpg" class="card-img-top" alt="Slika Farme 1">
                        <div class="card-body">
                        <h5 class="card-title">Farma 1 Naziv</h5>
                        <p class="card-text">Lokacija: Beograd</p>
                        <i class="fas fa-tractor d-inline-block me-2"></i> Usluge: Uzgoj goveda, mleko, sirevi
                        <br>
                        <a href="farma1.html" class="btn btn-primary">Detaljnije</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="slike/farma2.jpg" class="card-img-top" alt="Slika Farme 2">
                        <div class="card-body">
                        <h5 class="card-title">Farma 2 Naziv</h5>
                        <p class="card-text">Lokacija: Novi Sad</p>
                        <i class="fas fa-apple d-inline-block me-2"></i> Usluge: Voćnjaci, jabuke, kruške
                        <br>
                        <a href="farma2.html" class="btn btn-primary">Detaljnije</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="slike/farma1.jpg" class="card-img-top" alt="Slika Farme 1">
                        <div class="card-body">
                        <h5 class="card-title">Farma 1 Naziv</h5>
                        <p class="card-text">Lokacija: Beograd</p>
                        <i class="fas fa-tractor d-inline-block me-2"></i> Usluge: Uzgoj goveda, mleko, sirevi
                        <br>
                        <a href="farma1.html" class="btn btn-primary">Detaljnije</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="slike/farma2.jpg" class="card-img-top" alt="Slika Farme 2">
                        <div class="card-body">
                        <h5 class="card-title">Farma 2 Naziv</h5>
                        <p class="card-text">Lokacija: Novi Sad</p>
                        <i class="fas fa-apple d-inline-block me-2"></i> Usluge: Voćnjaci, jabuke, kruške
                        <br>
                        <a href="farma2.html" class="btn btn-primary">Detaljnije</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="slike/farma1.jpg" class="card-img-top" alt="Slika Farme 1">
                        <div class="card-body">
                        <h5 class="card-title">Farma 1 Naziv</h5>
                        <p class="card-text">Lokacija: Beograd</p>
                        <i class="fas fa-tractor d-inline-block me-2"></i> Usluge: Uzgoj goveda, mleko, sirevi
                        <br>
                        <a href="farma1.html" class="btn btn-primary">Detaljnije</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="slike/farma2.jpg" class="card-img-top" alt="Slika Farme 2">
                        <div class="card-body">
                        <h5 class="card-title">Farma 2 Naziv</h5>
                        <p class="card-text">Lokacija: Novi Sad</p>
                        <i class="fas fa-apple d-inline-block me-2"></i> Usluge: Voćnjaci, jabuke, kruške
                        <br>
                        <a href="farma2.html" class="btn btn-primary">Detaljnije</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content%}