{% extends "layout.html" %}
{% block content %}
{% if farm.user_id == current_user.id %}
<h1>{{farm.farm_name}} <a href="{{ url_for('users.my_farm', farm_id=farm.id) }}"><i class="fa-solid fa-pen-to-square"></i></a></h1>
{% else %}
<h1>{{farm.farm_name}}</h1>
{% endif %}
<h2>{{farm.farm_city}}</h2>
<div class="row">
    <div class="col-md-3">
        <img src="/static/farm_image/{{farm.farm_image}}" class="card-img-top" alt="Slika Farme {{ farm.farm_name }}">
    </div>
    <div class="col-md-9">
        <p>{{farm.farm_description}}</p>
    </div>
</div>
<h2>Slike farme</h2>
<div class="col">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for farm_image in farm.farm_image_collection %}
                <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                    <img src="/static/farm_image/{{ farm_image }}" class="d-block w-100" alt="Slika Farme {{ farm.farm_name }}">
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="card-body">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="organik">
        <label class="form-check-label" for="organik">Organski</label>
        <a href="#" data-bs-toggle="tooltip" data-bs-placement="right" title="Šta se podrazumeva pod organskom proizvodnjom?">
            <i class="fas fa-question-circle"></i>
        </a>
        <a href="#">Detaljnije o organskoj proizvodnji</a>
    </div>
</div>
<div>U nastavku dodati ponudu žive vage i gotovih proizvoda</div>
{% endblock content%}