{% extends "layout.html" %}
{% block content %}
<section>
    <div class="container">
        <h1>Kupovina - forma gosta</h1>
        <form action="{{ url_for('transactions.guest_form') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email.label(class="") }}
                {{ form.email(class="form-control", disabled=current_user.is_authenticated) }}
            </div>
            <div class="form-group">
                {{ form.name.label(class="") }}
                {{ form.name(class="form-control", disabled=current_user.is_authenticated) }}
            </div>
            <div class="form-group">
                {{ form.surname.label(class="") }}
                {{ form.surname(class="form-control", disabled=current_user.is_authenticated) }}
            </div>
            <div class="form-group">
                {{ form.address.label(class="") }}
                {{ form.address(class="form-control", disabled=current_user.is_authenticated) }}
            </div>
            <div class="form-group">
                {{ form.city.label(class="") }}
                {{ form.city(class="form-control", disabled=current_user.is_authenticated) }}
            </div>
            <div class="form-group">
                {{ form.zip_code.label(class="") }}
                {{ form.zip_code(class="form-control", disabled=current_user.is_authenticated) }}
            </div>
            <hr>
            <div class="form-group">
                {{ form.bank_info.label(class="") }}
                {{ form.bank_info(class="form-control") }}
            </div>
            <button class="btn btn-primary" type="submit">Kupi</button>
        </form>
    </div>
</section>

{% endblock %}