{% extends "layout.html" %}
{% block content %}
<main class="container mt-5">
    <section class="mb-5">
        <h2 class="text-center">Povezujemo poljoprivrednike sa direktnim kupcima</h2>
        <p class="lead text-right">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt 
            ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci 
            tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat</p>
        <a class="btn btn-primary d-block mx-auto mt-5 mb-1" href="#registracija">Registrujte se danas!</a>
        <a class="btn btn-primary d-block mx-auto" href="{{ url_for('main.about') }}">Opširnije</a>
    </section>

    <section class="mb-5">
        <h2 class="text-center">Živa vaga</h2>

        </section>

        <div class="d-flex justify-content-center gap-3 mb-3">
            <a href=""><i class="fa-solid fa-cow fs-2"></i></a>
            <a href=""><i class="fa-solid fa-piggy-bank fs-2"></i></a>
            <a href=""><i class="fa-solid fa-drumstick-bite fs-2"></i></a>
        </div>
        <a class="btn btn-primary d-block mx-auto mt-5" href="#">Istražite više</a>
    </section>

    <section class="mb-5">
        <h2 class="text-center">Gotovi proizvodi</h2>
        <p class="lead text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt 
            ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci 
            tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat</p>
        <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
            <div class="col">
                <div class="card h-100">
                    <img src="static/product_image/default.jpg" class="card-img-top" alt="Slika proizvoda">
                    <div class="card-body">
                        <h5 class="card-title">Kajmak</h5>
                        <p class="card-text"><strong>PG Panić</strong>, Gornji Milanovac</p>
                        <p class="card-text"><strong>1100 rsd/kg</strong></p>
                        <a href="#" class="btn btn-primary">Kupi</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="static/product_image/default.jpg" class="card-img-top" alt="Slika proizvoda">
                    <div class="card-body">
                        <h5 class="card-title">Sir</h5>
                        <p class="card-text"><strong>PG Panić</strong>, Gornji Milanovac</p>
                        <p class="card-text"><strong>1100 rsd/kg</strong></p>
                        <a href="#" class="btn btn-primary">Kupi</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="static/product_image/default.jpg" class="card-img-top" alt="Slika proizvoda">
                    <div class="card-body">
                        <h5 class="card-title">Kulen</h5>
                        <p class="card-text"><strong>PG Panić</strong>, Gornji Milanovac</p>
                        <p class="card-text"><strong>1100 rsd/kg</strong></p>
                        <a href="#" class="btn btn-primary">Kupi</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-primary d-block mx-auto" href="{{ url_for('main.about') }}">Vidi sve</a>
    </section>

    <section class="mb-5">
        <h2 class="text-center">Farme</h2>
        <p class="lead text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt 
            ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci 
            tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat</p>
        <div class="row row-cols-1 row-cols-md-3 g-4 mb-3"> 
            <div class="col">
                <div class="card h-100">
                    <img src="static/farm_image/default.jpg" class="card-img-top" alt="Slika Farme">
                    <div class="card-body">
                    <h5 class="card-title">Farma Panić</h5>
                    <p class="card-text">Brusnica</p>
                    <br>
                    <a href="#" class="btn btn-primary">Detaljnije</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="static/farm_image/default.jpg" class="card-img-top" alt="Slika Farme">
                    <div class="card-body">
                    <h5 class="card-title">Farma Panić</h5>
                    <p class="card-text">Brusnica</p>
                    <br>
                    <a href="#" class="btn btn-primary">Detaljnije</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="static/farm_image/default.jpg" class="card-img-top" alt="Slika Farme">
                    <div class="card-body">
                    <h5 class="card-title">Farma Panić</h5>
                    <p class="card-text">Brusnica</p>
                    <br>
                    <a href="#" class="btn btn-primary">Detaljnije</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mb-5">
        <h2 class="text-center">Najčešće postavljena pitanja</h2>
        <div class="accordion mb-5" id="faqAccordion">
            {% for question in faq %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading_{{ loop.index }}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ loop.index }}" aria-expanded="true" aria-controls="collapse_{{ loop.index }}">
                            {{ question.question }}
                        </button>
                    </h2>
                    <div id="collapse_{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading_{{ loop.index }}" data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            {{ question.answer }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="btn btn-primary d-block mx-auto" href="{{ url_for('main.faq') }}">Vidi sve</a>
    </section>
    
</main>
{% endblock content%}