<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"> -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/eaa4d75133.js" crossorigin="anonymous"></script>

        <!-- ovo je za select2 koji ima pretragu u sebi -->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">


        {% if title %}
            <title>Moje stado - {{ title }}</title>
        {% else %}
            <title>Moje stado</title>
        {% endif %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark top-bar">
            <div class="container">
                <div class="m-right-auto"><i class="fa-solid fa-phone"></i> +381 12 345 678</div>
                <ul class="navbar-nav m-left-auto">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="navbar-brand" href="{{ url_for('users.logout') }}">Odjavi se</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="{{ url_for('users.my_profile', user_id=current_user.id) }}" title="Moj nalog"><i class="fa-regular fa-user"></i></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="navbar-brand" href="{{ url_for('users.login') }}">Uloguj se</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="#registracija">Registracija</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="navbar-brand" href="#" title="Korpa"><i class="fa-solid fa-basket-shopping"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
        <header class="hero">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container">
                    <a class="navbar-brand" href="{{ url_for('main.home') }}">
                        <img src="{{ url_for('static', filename='images/moje-stado-logo-medium.png') }}" alt="Moje Stado logo" width="200" height="130">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav main-menu"style="margin-left: auto;">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{ url_for('main.home') }}">Početna</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('main.about') }}" tabindex="-1" aria-disabled="true">O portalu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('marketplace.livestock_market', animal_category_id=0) }}">Živa vaga</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('marketplace.products_market', product_category_id=0) }}">Gotovi proizvodi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('farms.farm_list') }}">Farme</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('main.faq') }}">FAQ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('main.contact') }}">Kontakt</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="ml-5">
                            <h1 class="wht-text">Povezujemo poljoprivrednike sa direktnim kupcima</h1>
                            <div class="home-hero-txt mb-5">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
                                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat
                            </div>
                            {% if not current_user.is_authenticated %}
                            <a class="btn btn-primary mr-1 mb-3" href="#registracija">Registrujte se danas!</a>
                            {% endif %}
                            <a class="btn btn-primary mb-3" href="{{ url_for('main.about') }}">Opširnije</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main role="main" class="">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                    {{ message|safe }}
                    </div>
                {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
            {% if not current_user.is_authenticated %}
            <section class="registracija">
                <div class="container" id="registracija">
                    <div class="row">
                        <div class="col-md-6 border-right pr-50 mb-5">
                            <h2 class="mb-3">Registracija korisnika</h2>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam 
                                erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci 
                                tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo 
                                consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate 
                                velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis 
                                at vero eros et accumsan et iusto odio dignissim qui blandit praesent 
                                luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse 
                                molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>
                            <a class="btn btn-secondary" href="{{ url_for('users.register_user') }}">Registruj se</a>
                        </div>
                        <div class="col-md-6 pl-50">
                            <h2 class="mb-3">Registracija PG</h2>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam 
                                erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci 
                                tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo 
                                consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate 
                                velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis 
                                at vero eros et accumsan et iusto odio dignissim qui blandit praesent 
                                luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse 
                                molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>
                            <a class="btn btn-secondary" href="{{ url_for('users.register_farm') }}">Registruj PG</a>
                        </div>
                    </div>
                </div>
            </section>
            {% endif %}
        </main>
        <footer class="footer bg-mosta">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{ url_for('static', filename='images/moje-stado-logo-medium.png') }}" alt="Moje Stado logo" width="200" height="130">
                    </div>
                    <div class="col-md-3">
                        <ul class="navbar-nav">
                            <li><a href="{{ url_for('main.home') }}">Početna</a></li>
                            <li><a href="{{ url_for('main.about') }}">O portalu</a></li>
                            <li><a href="#">Pijaca</a></li>
                            <li><a href="#">Farme</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="navbar-nav">
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Kontakt</a></li>
                            <li><a href="#">Pravila o privatnosti</a></li>
                            <li><a href="#"> Uslovi korišćenja</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        Moje stado<br>
                        Tax ID: 87621589225<br>
                        Identifikacioni broj: 02535618<br>
                        Adresa: Srbija
                    </div>
                </div>
                <div class="copyright text-center">
                    © Copyright 2024 Moje stado | All rights reserved.
                </div>
            </div>
        </footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <!-- Select2 JS -->
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        
        <!-- DataTables JS -->
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

        {% block scripts %}{% endblock %}
    </body>
</html>
