{% extends "layout.html" %}
{% block content %}
<section>
    <div class="row">
        <div class="col-8">
            <h1>Pregled korpe</h1>
            {% if products %}
            <h3>Gotovi proizvodi</h3>
            <table class="table table-striped" id="productsTable">
                <thead>
                    <tr>
                        <th>Kategorija proizvoda</th>
                        <th>Podkategorija proizvoda</th>
                        <th>Sektor proizvoda</th>
                        <th>Naziv</th>
                        <th>Količina</th>
                        <th>Jedinica mere</th>
                        <th>Cena po jedinici mere</th>
                        <th>Cena</th>
                        <th>Ukupna cena</th>
                        <th>PG</th>
                        <th>lokacija</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>
                            {{ product.category }}
                        </td>
                        <td>
                            {{ product.subcategory }}
                        </td>
                        <td>
                            {{ product.section }}
                        </td>
                        <td>
                            {{ product.product_name }}
                        </td>
                        <td>
                            {{ product.quantity }}
                        </td>
                        <td>
                            {{ product.unit_of_measurement }}
                        </td>
                        <td>
                            {{ product.product_price_per_unit }}
                        </td>
                        <td>
                            {{ product.product_price_per_kg }}
                        </td>
                        <td>
                            {{ product.total_price }}
                        </td>
                        <td>
                            {{ product.farm }}
                        </td>
                        <td>
                            {{ product.location }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="hidden" name="product_count" value="{{ products|length }}">
            {% endif %}

            {% if animals %}
            <h3>Živa vaga</h3>
            <table class="table table-striped" id="animalsTable">
                <thead>
                    <tr>
                        <th>ID životinje</th>
                        <th>Kategorija</th>
                        <th>Potkategorija</th>
                        <th>Rasa</th>
                        <th>Pol</th>
                        <th>Trenutna masa</th>
                        <th>Cena po kg (rsd)</th>
                        <th>Ukupna (rsd)</th>
                        <th>Osigurano</th>
                        <th>Organsko</th>
                        <th>PG</th>
                        <th>Lokacija</th>
                    </tr>
                </thead>
                <tbody>
                    {% for animal in animals %}
                    <tr>
                        <td>
                            {{ animal.animal_id }}
                        </td>
                        <td>
                            {{ animal.category }}
                        </td>
                        <td>
                            {{ animal.subcategory }}
                        </td>
                        <td>
                            {{ animal.race }}
                        </td>
                        <td>
                            {{ animal.animal_gender }}
                        </td>
                        <td>
                            {{ "{:.2f}".format(animal.current_weight) }}
                        </td>
                        <td>
                            {{ "{:.2f}".format(animal.price_per_kg) }}
                        </td>
                        <td>
                            {{ "{:.2f}".format(animal.total_price) }}
                        </td>
                        <td>
                            {{ animal.insured }}
                        </td>
                        <td>
                            {{ animal.organic_animal }}
                        </td>
                        <td>
                            {{ animal.farm }}
                            <!-- <a href="{{ url_for('farms.farm_detail', farm_id=animal.farm_id) }}">{{ animal.farm }}</a> -->
                        </td>
                        <td>
                            {{ animal.location }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="hidden" name="animal_count" value="{{ animals|length }}">
            {% endif %}
            
            {% if services %}
            <h3>Usluge</h3>
            <table class="table table-striped" id="servicesTable">
                <thead>
                    <tr>
                        <th>ID životinje</th>
                        <th>Kategorija</th>
                        <th>Potkategorija</th>
                        <th>Rasa</th>
                        <th>Pol</th>
                        <th>Trenutna masa</th>
                        <th>Usluga</th>
                        <th>Cena</th>
                    </tr>
                </thead>
                <tbody>
                    {% for animal in services %}
                    <tr>
                        <td>
                            {{ animal.animal_id }}
                        </td>
                        <td>
                            {{ animal.category }}
                        </td>
                        <td>
                            {{ animal.subcategory }}
                        </td>
                        <td>
                            {{ animal.race }}
                        </td>
                        <td>
                            {{ animal.animal_gender }}
                        </td>
                        <td>
                            {{ "{:.2f}".format(animal.current_weight) }}
                        </td>
                        <td>
                            {% if animal.slaughterService %}
                            Klanje
                            {% endif %}
                            {% if animal.processingService %}
                            Obrada
                            {% endif %}
                        </td>
                        <td>
                            {{ animal.slaughterPrice + animal.processingPrice }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="hidden" name="service_count" value="{{ services|length }}">
            {% endif %}

            {% if fattening %}
            <h3>Tov</h3>
            <table class="table table-striped" id="fatteningTable">
                <thead>
                    <tr>
                        <th>ID životinje</th>
                        <th>Kategorija</th>
                        <th>Potkategorija</th>
                        <th>Rasa</th>
                        <th>Pol</th>
                        <th>Trenutna masa</th>
                        <th>Željena masa</th>
                        <th>Cena tova</th>
                        <th>Br hranidbenih dana</th>
                        <th>Br rata</th>
                    </tr>
                </thead>
                <tbody>
                    {% for animal in fattening %}
                    <tr>
                        <td>
                            {{ animal.animal_id }}
                        </td>
                        <td>
                            {{ animal.category }}
                        </td>
                        <td>
                            {{ animal.subcategory }}
                        </td>
                        <td>
                            {{ animal.race }}
                        </td>
                        <td>
                            {{ animal.animal_gender }}
                        </td>
                        <td>
                            {{ "{:.2f}".format(animal.current_weight) }}
                        </td>
                        <td>
                            {{ "{:.2f}".format(animal.desired_weight) }}
                        </td>
                        <td>
                            {{ "{:.2f}".format(animal.fattening_price) }}
                        </td>
                        <td>
                            {{ animal.feeding_days }}
                        </td>
                        <td>
                            {{ animal.installment_options }}
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            <input type="hidden" name="fattening_count" value="{{ fattening|length }}">
            {% endif %}
        </div>
        <div class="col-4">
            <h1>Info o kupcu</h1>
            <p>{{ user.name }}</p>
            <p>{{ user.surname }}</p>
            <p>{{ user.email }}</p>
            <p>{{ user.address }}</p>
            <p>{{ user.city }}</p>
        </div>
    </div>
    <div>
        {% if merchant_order_amount %}
        <legend>Ukupno za uplatu: </legend> 
        <input type="text" class="form-control" value="{{ merchant_order_amount }} rsd" disabled>
        {% endif %}
        {% if session.get('delivery')['delivery_status'] %}
        <p>Usluga dostave je izabrana i cena od {{session.get('delivery')['delivery_total']}} rsd je uračunata u ukupan iznos za uplatu</p>
        {% else %}
        <p>Usluga dostave nije izabrana</p>
        {% endif %}
        {% if installment_total %}
        <legend>Ukupno na rate: </legend>
        <input type="text" class="form-control" value="{{ installment_total }} rsd" disabled>
        {% endif %}
        <input type="hidden" id="cartData" name="cartData" value="">

        <form id="paymentForm" 
            method="post" 
            action='https://test.nsgway.rs:50009/api/ecommerce/submit' 
            target="output_frame">
            <input type="hidden" name="companyId" value="{{ company_id }}" />
            <input type="hidden" name="merchantOrderID" value='{{ merchant_order_id }}' />
            <input type="hidden" name="merchantOrderAmount" value="{{ merchant_order_amount }}" />
            <input type="hidden" name="merchantCurrencyCode" value="941" />
            <input type="hidden" name="language" value="1" />
            <input type="hidden" name="successURL" value="{{ url_for('transactions.success_url', _external=True) }}" />
            <input type="hidden" name="cancelURL" value="{{ url_for('transactions.cancel_url', _external=True) }}" />
            <input type="hidden" name="errorURL" value="{{ url_for('transactions.error_url', _external=True) }}" />
            <input type="hidden" name="email" value='{{ user.email }}' />
            <input type="hidden" name="customerId" value='123456789' />
            <input type="hidden" name="requestType" value='11'/> <!-- 11 za normalnu transakciju, 10 za split transakcije -->
            <input type="hidden" name="hash" value='{{ hash_value }}' />
            <input type="hidden" name="rnd" value='{{ rnd }}' />
            <input type="hidden" name="timeout" value='600' />
            <input type="hidden" name="currentDate" id="currentDate" value="{{ current_date }}" />

            <button class="btn btn-primary" type="submit">Nastavi ka uplati</button>
        </form>
    </div>
    <!-- Druga forma za slanje POST zahteva -->
    <form method="post" action="{{ url_for('transactions.callback_local_test') }}">
        <input type="hidden" name="merchantOrderID" value="{{ merchant_order_id }}" />
        <input type="hidden" name="merchantOrderAmount" value="{{ merchant_order_amount }}" />
        <button class="btn btn-danger" type="submit">callback_local_test</button>
    </form>
</section>
{% endblock %}