{% extends "layout.html" %}
{% block content %}
<section class="page-hero registerpage">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 class="wht-text">Moj nalog</h1>
                <div class="home-hero-txt mb-5">
                    <!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
                    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat-->
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>

{% if user.user_type == 'user' %}
<section class="register-page firstsection mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar-expand-lg navbar-light pb-10">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ url_for('users.my_profile', user_id=user.id) }}">Moji podaci</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('users.my_fattening', user_id=user.id) }}">Moje stado</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('users.my_shop', user_id=user.id) }}">Moje kupovine</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class="register-page firstsection mb-5">
    <div class="container">
        <div class="row">
            <h2>Moji podaci - Korisnik</h2>
            <div class="col">
                <div class="form-group">
                    <label for="name">Ime i prezime</label>
                    <input class="form-control" type="text" name="name" id="name" value="{{ user.name }} {{ user.surname }}" readonly>
                </div>
                <div class="form-group">
                    <label for="name">Adresa</label>
                    <input class="form-control" type="text" name="address" id="address" value="{{ user.address }}" readonly>
                </div>
                <div class="form-group">
                    <label for="name">Mesto</label>
                    <input class="form-control" type="text" name="zip_code" id="zip_code" value="{{ user.zip_code }} {{ user.city }}" readonly>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="name">Telefon</label>
                    <input class="form-control" type="text" name="phone" id="phone" value="{{ user.phone }}" readonly>
                </div>
                <div class="form-group">
                    <label for="name">email</label>
                    <input class="form-control" type="text" name="email" id="email" value="{{ user.email }}" readonly>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editProfileModal">
            Izmeni adresu
        </button>
        <a href="" class="btn btn-primary" target_="_blank">Pregled ugovora</a>
    
    <!-- Modal -->
        <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editProfileModalLabel">Izmeni profil</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{{ url_for('users.my_profile', user_id=user.id) }}" method="POST">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="addressInput">Adresa</label>
                                <input type="text" class="form-control" id="address" name="address" value="{{ user.address }}">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Odustani</button>
                            <button type="submit" class="btn btn-primary">Sačuvaj</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% elif user.user_type == 'admin' %}
<section class="register-page firstsecton mb-5">
    <div class="container pt-40">
        <h2>Moji podaci - Admin</h2>
        <div class="row">
            <nav class="navbar-expand-lg navbar-light my-navbar pb-10">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('users.settings') }}">Podešavanja</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('users.admin_view_farms') }}">PG</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('users.admin_view_users') }}">Korisnici</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('users.admin_view_purchases') }}">Kupovine</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('users.admin_view_overview') }}">Pregledi</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('users.admin_view_slips') }}">Izvodi</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</section>
{% elif user.user_type == 'farm_active' %}
<section class="register-page firstsection mb-5">
    <div class="container">
        <div class="row">
            <nav class="navbar-expand-lg navbar-light my-navbar pb-10">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% if current_user.user_type != 'admin' %}
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('users.my_profile', user_id=user.id) }}">Moji podaci</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('users.my_farm', farm_id=farm.id) }}">Moja farma</a>
                        </li>
                        {% if farm_profile_completed %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('users.my_flock', farm_id=farm.id) }}">Moje stado</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('users.my_market', farm_id=farm.id) }}">Moja prodavnica</a>
                        </li>
                        {% else %}
                        <p>Nekompletiran profil!</p>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
            </nav>
        </div>
    </div>
</section>
<section class="register-page my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-4">Moji podaci - Farmer</h2>
                <form action="" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="row mb-3">
                        <div class="col-md-6">
                            {{ form.name.label(class="form-label") }}
                            {{ form.name(class="form-control", readonly=(current_user.user_type != 'admin')) }}
                        </div>
                        <div class="col-md-6">
                            {{ form.surname.label(class="form-label") }}
                            {{ form.surname(class="form-control", readonly=(current_user.user_type != 'admin')) }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            {{ form.address.label(class="form-label") }}
                            {{ form.address(class="form-control", readonly=(current_user.user_type != 'admin')) }}
                        </div>
                        <div class="col-md-3">
                            {{ form.city.label(class="form-label") }}
                            {{ form.city(class="form-control", readonly=(current_user.user_type != 'admin')) }}
                        </div>
                        <div class="col-md-3">
                            {{ form.municipality.label(class="form-label") }}
                            {{ form.municipality(class="form-control", readonly=(current_user.user_type != 'admin')) }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3">
                            {{ form.jmbg.label(class="form-label") }}
                            {{ form.jmbg(class="form-control", readonly=(current_user.user_type != 'admin')) }}
                        </div>
                        <div class="col-md-3">
                            {{ form.bpg.label(class="form-label") }}
                            {{ form.bpg(class="form-control", readonly=(current_user.user_type != 'admin')) }}
                        </div>
                        <div class="col-md-3">
                            {{ form.mb.label(class="form-label") }}
                            {{ form.mb(class="form-control", readonly=(current_user.user_type != 'admin')) }}
                        </div>
                        <div class="col-md-3">
                            {{ form.phone.label(class="form-label") }}
                            {{ form.phone(class="form-control", readonly=(current_user.user_type != 'admin')) }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            {{ form.email.label(class="form-label") }}
                            {{ form.email(class="form-control", readonly=(current_user.user_type != 'admin')) }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <a href="{{ url_for('static', filename='contracts/farms/' + '{:05d}'.format(user.id) + '.pdf') }}" target="_blank" rel="noopener noreferrer" class="btn btn-primary me-2">Pregled ugovora</a>
                            {% if current_user.user_type == 'admin' %}
                                <a href="#" class="btn btn-secondary me-2">Generiši novi ugovor</a>
                                {{ form.submit(class="btn btn-primary") }}
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% elif user.user_type == 'farm_inactive' %}
<h2>Moji podaci - Farmer</h2>
<p>Još uvek nije aktiviran Vaš profil. Za bliže informacije kontakirajte administratora.</p>
{% endif %}

{% endblock content%}