{% extends "layout.html" %}
{% block content %}
<section class="">
    <div class="container">
        <div class="row">
            <div class="info-text">
                <h1>Politika privatnosti</h1>
                <p>&nbsp;</p>
                <p>Ovom politikom privatnosti (u daljem tekstu: „<strong>Politika privatnosti</strong>“), u skladu sa Zakonom o zaštiti podataka o ličnosti, privredno društvo „NAŠA IMPERIJA DOO”, iz Mionice, Kneza Grbovića 10, matični broj: 21993867, PIB: 114244045, reguliše pitanja od značaja za obradu podataka o ličnosti koja se vrši putem veb stranice, odnosno platforme pod nazivom  mojestado.rs (u daljem tekstu: „<strong>Platforma</strong>“).</p>
                <ol>
                    <li>UVODNE ODREDBE
                        <ol>
                            <li>Ovim aktom Korisnici se informišu o tome koji podaci o ličnosti se prikupljaju putem Platforme od strane Davaoca usluge u svojstvu rukovaoca, uređuje se svrha i osnov njihove obrade, dužina čuvanja podataka, pouke o pravima Korisnika, procedure u slučaju incidenata, kao i saglasnost Korisnika da rukovalac preko Platforme može prikupljati, obrađivati i čuvati njihove podatke o ličnosti, kako je dalje u tekstu propisano.</li>
                            <li>Platforma, odnosno Rukovalac koristi podatke Korisnika u skladu sa ovom Politikom privatnosti, i obavezuje se da će čuvati privatnost svih Korisnika, da će prikupljati samo neophodne, osnovne podatke o Korisnicima, odnosno podatke neophodne za poslovanje servisa, ispunjavanje ugovorenih obaveza, informisanje Korisnika, u skladu sa dobrim poslovnim običajima i u cilju pružanja kvalitetne usluge, sve u skladu sa Politikom privatnosti.</li>
                            <li>Korišćenjem usluga na Platformi, Korisnik izjavljuje da je pročitao, razumeo i prihvatio ovu Politiku privatnosti, odnosno da se saglasio sa prikupljanjem, obradom i dužinom čuvanja podataka na način kako je Politikom privatnosti propisano.</li>
                            <li>Korisnik izjavljuje da je pre prihvata Politike privatnosti, pročitao, razumeo i prihvatio uslove iz dokumenta Uslovi korišćenja koji se mogu pronaći <a href="http://u">na</a> sledećem linku: <a href="http://www.mojestado.rs/terms_and_conditions">mojestado.rs/terms_and_conditions</a> (u daljem tekstu: „<strong>Uslovi korišćenja</strong>”).</li>
                            <li>Platforma je u vlasništvu fizičkog lica Miodraga Mitrovića koji je na osnovu ugovora omogućio korišćenje, upravljanje i administriranje iste privrednom društvu „NAŠA IMPERIJA DOO”, iz Mionice, Kneza Grbovića 10, matični broj: 21993867, PIB: 114244045, koje svoju poslovnu delatnost obavlja na internetu, putem Platforme (u prethodnom i daljem tekstu: „<strong>Rukovalac</strong>” i/ili “<strong>Davalac usluge</strong>”).</li>
                            <li>Politika privatnosti je sačinjena u skladu sa pravilima predviđenim Zakonom o zaštiti podataka o ličnosti Republike Srbije, a na sve što nije regulisano Politikom privatnosti, primenjivaće se pravila ovog dokumenta, pri čemu u slučaju različitih rešenja odredbe Zakona o zaštiti podataka o ličnosti Republike Srbije imaju prednost.</li>
                            <li>Ova Politika privatnosti je u potpunosti usklađena sa Uslovima korišćenja. Na sve pojmove koji nisu navedeni u ovoj Politici privatnosti primenjuju se definicije istih iz Uslova korišćenja.</li>
                        </ol>
                    </li>
                    <li>ZNAČENJE POJMOVA
                        <ol>
                            <li>Termini koji su korišćeni u ovoj Politici privatnosti imaju sledeća značenja:
                                <ul>
                                    <li>RUKOVALAC – privredno društvo iz člana 1, stav 1.5. ove Politike privatnosti, koje obrađuje podatke o ličnosti.</li>
                                    <li>USLUGA PLATFORME – usluga koju pruža Davalac usluge, odnosno usluga posredovanja koju Davalac usluge pruža putem Platforme, a koja se ogleda u uspostavljanju tržišta i povezivanju, odnosno posredovanju između Partnera i Kupaca, u vezi sa kupovinom/prodajom Proizvoda putem Platforme, odnosno naručivanjem Usluga Partnera putem Platforme. Ova usluga podrazumeva i zastupanje Partnera od strane Davaoca usluge u vezi sa zaključenjem ugovora o kupoprodaji Proizvoda/Usluga Partnera postavljenih na Platformi.br<br>
                                        Usluga Platforme takođe podrazumeva i pružanje tehničke podrške Korisnicima koja se odnosi na održavanje i administriranje Platforme, što uključuje otklanjanje prijavljenih tehničkih grešaka i nepravilnosti koje nastanu unutar Platforme ukoliko je to moguće i/ili celishodno i tehničku pomoć Korisnicima Platforme u cilju što boljeg i nesmetanog korišćenja iste, a što naročito podrazumeva davanje Partnerima informacija, instrukcija i uputstava u pogledu postavljanja, editovanja i brisanja određenog sadržaja unutar Platforme i uređivanje baza podataka (u daljem tekstu: “Tehnička podrška”).</li>
                                    <li>KUPAC – fizičko lice koje putem Platforme kupuje Proizvode Partnera postavljene na Platformi ili koristi Usluge Partnera postavljene na Platformi.</li>
                                    <li>REGISTROVANI KUPAC - Kupac koji je registrovao svoj nalog na Platformi (Nalog Kupca).</li>
                                    <li>PARTNER - poljoprivredno gazdinstvo koje ima kreiran nalog na Platformi (Nalog Partnera) i koje ima mogućnost da postavlja Proizvode/Usluge Partnera na Platformu u cilju prodaje, odnosno nuđenja usluga, a sve putem Platforme. Platforma ima diskreciono pravo da od Partnera zahteva potpisivanje posebnog ugovora (Partnerski ugovor) kojim će detaljnije biti regulisana njihova međusobna saradnja, a što ne utiče na obavezu Partnera da poštuje pravila utvrđena i Uslovima korišćenja.</li>
                                    <li>ADMINISTRATOR – lice koje je nadležno za upravljanje i uređivanje Platforme i koje je zaduženo za interakciju sa Korisnicima.</li>
                                    <li>PRIMALAC OBAVEŠTENJA – lice koje je prihvatilo opciju primanja obaveštenja o novostima i promotivnim ponudama Platforme.</li>
                                    <li>POSETILAC – fizičko lice koje pretražuje Platformu, a nije Kupac/Registrovani kupac/Partner.</li>
                                    <li>KORISNIK – zajednički naziv za Partnera, Kupca, Registrovanog kupca, Posetioca i Primaoca obaveštenja;</li>
                                    <li>PARTNERSKI UGOVOR - poseban ugovor koji Partner zaključuje sa Davaocem usluge, a kojim su detaljnije regulisana međusobna prava i obaveze u pogledu korišćenja Platforme, Tehničke podrške i pružanja Usluge Platforme od strane Davaoca usluge;</li>
                                    <li>ZAKON - Zakon o zaštiti podataka o ličnosti Republike Srbije;</li>
                                    <li>GDPR - Opšta uredba o zaštiti podataka Evropske Unije <em>(2016/679);</em></li>
                                    <li>PRISTANAK - svako dobrovoljno, određeno, informisano i nedvosmisleno izražavanje volje Korisnika, kojim on izjavom ili jasnom potvrdnom radnjom, daje pristanak za obradu podataka o ličnosti koji se na njega odnose;</li>
                                    <li>PODATAK O LIČNOSTI - svaki podatak koji se odnosi na fizičko lice čiji je identitet određen ili odrediv, neposredno ili posredno, posebno na osnovu oznake identiteta, kao što je ime i identifikacioni broj, podataka o lokaciji, identifikatora u elektronskim komunikacionim mrežama ili jednog, odnosno više obeležja njegovog fizičkog, fiziološkog, genetskog, mentalnog, ekonomskog, kulturnog i društvenog identiteta;</li>
                                    <li>OBRADA PODATAKA O LIČNOSTI - svaka radnja ili skup radnji koje se vrše automatizovano ili neautomatizovano sa podacima o ličnosti Korisnika, kao što su prikupljanje, beleženje, razvrstavanje, grupisanje, odnosno strukturisanje, pohranjivanje, upodobljavanje ili menjanje, otkrivanje, uvid, upotreba, otkrivanje prenosom, odnosno dostavljanje, umnožavanje, širenje ili na drugi način činjenje dostupnim, upoređivanje, ograničavanje, brisanje ili uništavanje;</li>
                                    <li>OBRAĐIVAČ - fizičko ili pravno lice, angažovano od strane Rukovaoca da u njegovo ime i za njegov račun obrađuje podatke o ličnosti Korisnika;</li>
                                    <li>TREĆE LICE - fizičko ili pravno lice, odnosno organ vlasti, koji nije Korisnik, Rukovalac ili Obrađivač, kao ni lice koje je ovlašćeno da obrađuje podatke o ličnosti pod neposrednim nadzorom Rukovaoca ili Obrađivača;</li>
                                    <li>NADLEŽNI ORGANI - organi vlasti koji su nadležni za sprečavanje, istragu i otkrivanje krivičnih dela, kao i gonjenje učinilaca krivičnih dela ili izvršenje krivičnih sankcija, uključujući i zaštitu i sprečavanje pretnji javnoj i nacionalnoj bezbednosti, kao i pravno lice koje je za vršenje prethodno nabrojanih poslova ovlašćeno zakonom;</li>
                                    <li>POVERENIK ili NADZORNI ORGAN - nezavisan i samostalni organ vlasti ustanovljen na osnovu Zakona, koji je nadležan za nadzor nad sprovođenjem Zakona i obavljanje drugih poslova propisanih Zakonom.</li>
                                </ul>
                            </li>
                        </ol>
                    </li>
 	                <li>RUKOVALAC PODACIMA
                        <ol>
 	                        <li>Rukovalac podacima je privredno društvo, bliže definisan članom 2, stav 2.1. tačka 1, sa kontakt podacima kao u članu 16. ove Politike privatnosti.</li>
 	                        <li>Privredno društvo iz prethodnog stava ovog člana Politike privatnosti, u svojstvu rukovaoca, odgovara za podatke o ličnosti prikupljene od Korisnika putem Platforme i svoju samostalnu obradu predmetnih podataka, na način i u obimu kako je Zakonom i ovim aktom predviđeno, a posebno članom 14. Politike privatnosti.</li>
 	                        <li>Rukovalac preduzima potrebne tehničke, organizacione i kadrovske mere kako bi obezbedio da se obrada vrši u skladu sa Zakonom i kako bi bio u mogućnosti to da predoči Korisnicima, uzimajući u obzir prirodu, obim, okolnosti i svrhu obrade, kao i verovatnoću nastupanja rizika i nivo rizika za prava i slobode Korisnika.</li>
 	                        <li>Podatak o tome ko od zaposlenih ili na drugi način angažovanih kod Rukovaoca ima pristup podacima o ličnosti, i ko je njihov administrator sadržani su u Evidenciji aktivnosti obrade iz člana 13. ove Politike privatnosti.</li>
                        </ol>
                    </li>
 	                <li>PODACI KORISNIKA KOJI SE PRIKUPLJAJU I OBRAĐUJU
                        <ol>
                            <li>U cilju ispunjavanja prava i obaveza ustanovljenih Uslovima korišćenja, kao i u cilju poštovanja zakonskih obaveza, legitimnih interesa i razloga unapređenja, efikasnijeg i zakonitog rada Rukovaoca ili na osnovu datog pristanka Korisnika koji je dalje u tekstu detaljno objašnjen, Rukovalac prikuplja i obrađuje podatke o ličnosti Korisnika.</li>
                            <li>Rukovalac prikuplja i obrađuje neke od sledećih podataka, odnosno sledeće podatke Kupaca/Registrovanih kupaca:
                                <ul>
                                    <li>ime;</li>
                                    <li>prezime;</li>
                                    <li>telefon;</li>
                                    <li>adresa;</li>
                                    <li>grad;</li>
                                    <li>poštanski broj;</li>
                                    <li>imejl adresa;</li>
                                    <li>lozinka;</li>
                                    <li>potvrda lozinke;</li>
                                    <li>IP adresa;</li>
                                    <li>podaci o uređaju za pristup Platformi;</li>
                                    <li>ocene i komentari u okviru recenizije.</li>
                                </ul>
                            </li>
                            <li>Rukovalac prikuplja i obrađuje neke od sledećih podataka, odnosno sledeće podatke Partnera:
                                <ul> 	
                                    <li>ime;</li>
                                    <li>prezime;</li>
                                    <li>adresa;</li>
                                    <li>mesto;</li>
                                    <li>opština;</li>
                                    <li>telefon;</li>
                                    <li>broj računa;</li>
                                    <li>BPG (broj poljoprivrednog gazdinstva);</li>
                                    <li>JMBG (odnosi se isključivo na Partnere koji imaju osigurane Proizvode);</li>
                                    <li>imejl adresa;</li>
                                    <li>lozinka;</li>
                                    <li>potvrda lozinke;</li>
                                    <li>IP adresa;</li>
                                    <li>podaci o uređaju za pristup Platformi.
                                </ul>
                            </li>
                            <li>Rukovalac prikuplja i obrađuje neke od sledećih podataka, odnosno sledeće podatke Primalaca obaveštenja:
                                <ul>
                                    <li>imejla adresa;</li>
                                    <li>IP adresa;</li>
                                    <li>podaci o uređaju za pristup Platformi.</li>
                                </ul>
                            </li>
                            <li>Rukovalac prikuplja i obrađuje neke od sledećih podataka, odnosno sledeće podatke Posetilaca:
                                <ul>
                                    <li>IP adresa;</li>
                                    <li>podaci o uređaju za pristup Platformi.</li>
                                </ul>
                            </li>
                            <li>Posebne kategorije podataka o ličnosti</li>
                            <li>Rukovalac ne vrši obradu podataka koji se tiču rasnog ili etničkog porekla, političkog mišljenja, filozofskog uverenja, kao i obradu genetskih podataka, biometrijskih podataka u cilju jedinstvene identifikacije lica, podataka o seksualnom životu ili seksualnoj orijentaciji fizičkog lica.</li>
                            <li>Podaci pribavljeni od internet pretraživača Korisnika – Cookies (Kolačići)</li>
                            <li>U cilju unapređenja usluge na Platformi i poboljšanja iskustva Korisnika prilikom pregledanja iste, Rukovalac prikuplja podatke od internet pretraživača Korisnika odnosno Cookies (Kolačiće).</li>
                            <li>Podaci o vrsti konkretnog kolačića, nazivu, snabdevaču, svrsi prikupljanja, vrsti i vremenu čuvanja podataka, kao i drugi podaci koji bi mogli biti od značaja za čuvanje podataka iz stava 4.7. ovog člana Politike privatnosti mogu se naći na adresi: <a href="http://www.mojestado.rs/cookie_policy">www.mojestado.rs/cookie_policy</a> (u daljem tekstu: „<strong>Politika kolačića</strong>“).</li>
                        </ol>
                    </li>
 	                <li>SVRHA I OSNOV OBRADE
                        <ol>
 	                        <li>Podatke iz člana 4. ove Politike privatnosti, Rukovalac obrađuje po sledećim osnovima:
                                <ul>
                                    <li>podatke iz stava 4.2. (tačka 1-12) Rukovalac obrađuje na osnovu izvršenja ugovorne obaveze između Rukovaoca i Kupca iz Uslova korišćenja, kako je Uslovima korišćenja i Zakonom propisano, u smislu člana 12, stav 1, tačka 2. Zakona;</li>
                                    <li>podatke iz stava 4.2. tačka 12. Rukovalac obrađuje na osnovu pristanka datog od strane Kupca koji ima zasebnu formu čijim prihvatanjem se saglasnost ima smatrati datom, u smislu člana 12, stav 1, tačka 1. Zakona;</li>
                                    <li>podatke iz stava 4.3. Rukovalac obrađuje na osnovu izvršenja ugovorne obaveze između Rukovaoca i Partnera iz Uslova korišćenja i Partnerskog ugovora, kako je Uslovima korišćenja, Partnerskim ugovorom i Zakonom propisano, u smislu člana 12, stav 1, tačka 2. Zakona;</li>
                                    <li>podatak o imejl adresi Korisnika koji se saglasio sa dobijanjem “Newsletter”-a, Rukovalac obrađuje na osnovu pristanka datog od strane Korisnika u svojstvu Primaoca obaveštenja, koji ima zasebnu formu čijim prihvatanjem se saglasnost ima smatrati datom, u smislu člana 12, stav 1, tačka 1. Zakona;</li>
                                    <li>pojedine podatke iz stava 4.7. Rukovalac obrađuje na osnovu izvršenja ugovorne obaveze Rukovaoca i Korisnika ukoliko su kolačići neophodni za pružanje usluga, u smislu člana 12, stav 1, tačka 2. Zakona, a pojedine podatke iz stava 4.7. (statističke i marketinške kolačiće) na osnovu pristanka datog od strane Kupca koji ima zasebnu formu čijim prihvatanjem se saglasnost ima smatrati datom, u smislu člana 12, stav 1, tačka 1. Zakona, kako je propisano Politikom kolačića, a sve u skladu sa Politikom kolačića;</li>
                                    <li>podatke o IP adresi i uređaja za pristup Platformi svih Korisnika Rukovalac obrađuje na osnovu ostvarivanja svojih legitimih interesa, u smislu člana 12, stav 1, tačka 6. Zakona, a sve u svrhu kako je članom 5.2 tačka 6. pojašnjeno;</li>
                                    <li>pojedine podatke Rukovalac obrađuje po drugim Zakonom predviđenim osnovima prema kojima je Rukovalac obavezan da prikuplja, skladišti i obrađuje podatke Korisnika.</li>
                                </ul>
                            </li>
                            <li>Obradu podataka iz člana 4. ove Politike privatnosti, Rukovalac vrši u sledeće svrhe:</li>
                                <ul>
                                    <li>ispunjavanje ugovornih obaveza Rukovaoca (podaci iz stava 4.2 (tačka 1-11) i stava 4.3.;</li>
                                    <li>slanja obaveštenja o novostima i promotivnim ponudama Davaoca usluge/Platforme – <em>Newsletter </em>(e-mail adresa Korisnika koji je postao Primalac obaveštenja);</li>
                                    <li>kreiranje naloga Korisnika radi korišćenja Usluga koje Platforma pruža (pojedini podaci iz stava 4.2. i 4.3.)</li>
                                    <li>slanja verifikacionog linka prilikom registracije naloga ili izmene šifre kod već postojećeg naloga (e-mail adrese Korisnika);</li>
                                    <li>razvoj i poboljšanje rada Platforme (podaci iz stava 4.7.);</li>
                                    <li>sprečavanje napada i neovlašćenog logovanja na Platformu/nalog Korisnika, bezbednost Platforme/naloga Korisnika (podaci o IP adresi i uređaja za pristup Platformi);</li>
                                    <li>u druge svrhe za koje je dat pristanak Korisnika, osim ukoliko je pristanak povučen u skladu sa Zakonom i ovom Politikom privatnosti;</li>
                                    <li>u druge svrhe u skladu sa Zakonom.</li>
                                </ul>
                            </li>
 	                        <li>Obrada u druge svrhe
                                <ol>
 	                                <li>Ako obrada u svrhu koja je različita od svrhe za koju su podaci prikupljeni nije zasnovana na zakonu ili na pristanku lica na koje se podaci odnose, Rukovalac, uz poštovanje adekvatnih bezbednosnih mera, vrši procenu da li je ta druga svrha obrade u skladu sa svrhom obrade za koju su podaci prikupljeni, pri čemu posebno uzima u obzir:</li>
                                        <ul>
                                            <li>da li postoji veza između svrhe za koju su podaci prikupljeni i druge svrhe nameravane obrade;</li>
                                            <li>okolnosti u kojima su podaci prikupljeni, uključujući i odnos između Rukovaoca i Korisnika;</li>
                                            <li>prirodu podataka;</li>
                                            <li>moguće posledice dalje obrade za Korisnika.</li>
                                        </ul>
                                    </li>
                                </ol>
                            </li>
                            <li>Rukovalac je dužan da stalnom primenom odgovarajućih tehničkih, organizacionih i kadrovskih mera obezbedi da se uvek obrađuju samo oni podaci o ličnosti koji su neophodni za ostvarivanje svake pojedinačne svrhe obrade, što se primenjuje u odnosu na broj prikupljenih podataka, obim njihove obrade, rok njihovog pohranjivanja i njihovu dostupnost.</li>
                            <li>Pravni osnov i svrha obrade za svaku kategoriju podataka ponaosob navedeni su u evidenciji radnji obrade koju Rukovalac vodi u skladu sa obavezama propisanim Zakonom.</li>
                        </ol>
                    </li>
 	                <li>PRISTANAK
                        <ol>
                            <li>Pristanak dat od strane Korisnika daje se u zasebnoj formi, sa jasnim i istaknutim naslovom „Pristanak“, ili drugim naslovom, odnosno aktivnom radnjom obeležavanja posebnog polja na veb-sajtu (check box), koji na nedvosmislen način ukazuje da je reč o pristanku na obradu podataka o ličnosti, a sadržina istog je opisana informisano, transparentno, razumljivo, dostupno, upotrebom jasnih i jednostavnih reči na način propisan Zakonom.</li>
                            <li>Korisnik nije uslovljen davanjem pristanka da bi mu bile omogućene Usluge ili deo Usluge za koju pristanak nije neophodan da bi ista mogla biti obavljena, te se isti ima smatrati dobrovoljnim, osim ako bez obrade za koju se pristanak traži nije moguće omogućiti Korisniku da ostvari svoje pravo.</li>
                            <li>Korisnik ima pravo da opozove pristanak u svakom trenutku. Opoziv pristanka ne utiče na dopuštenost obrade koja je vršena na osnovu pristanka pre opoziva. Pre davanja pristanka lice na koje se podaci odnose mora biti obavešteno o pravu na opoziv, kao i dejstvu opoziva. Opozivanje pristanka mora biti jednostavno, kao i davanje pristanka.</li>
                            <li>Pristanak iz stava 6.1. može biti dat i u elektronskoj formi na način što će Korisnici prilikom korišćenja Platforme Rukovaoca imati priliku da pročitaju tekst pristanka i u skladu sa članom 6. ove Politike privatnosti odluče da li isti da prihvate ili ne, klikom na određeno polje.</li>
                            <li>Obrada koja se vrši na osnovu Pristanka je obrada adrese e-pošte Primaoca obaveštenja u cilju obaveštavanja o novostima i promotivnim ponudama Davaoca usluge/Platforme, a Pristanak na predmetnu obradu daje se elektronskim klikom na za to predviđenom polju.</li>
                            <strong><u>Newsletter</u></strong>
                            <li>Rukovalac šalje Primaocima obaveštenja Newsletter, odnosno obaveštavanja o novostima i pogodnostima koje pruža Rukovalac, a sve na osnovu izričite saglasnosti Primaoca obaveštenja, koja se daje popunjavanjem posebnog polja (check box).</li>
                            <li>Rukovalac na osnovu izričitog pristanka Primaoca obaveštenja obaveštava o novim proizvodima, akcijama i uslugama putem e-mail obaveštenja u svrhe omogućavanja zainteresovanim licima odnosno, Primaocima obaveštenja da prvi saznaju za nove usluge i pogodnosti koje nudi Rukovalac.</li>
                            <li>Primalac obaveštenja ima pravo da se odjavi od daljeg obaveštavanja u svakom trenutku u vidu podnošenja zahteva za obustavu prijema obaveštenja. Odjava od daljeg obaveštavanja ne utiče na dopuštenost obrade koja je vršena pre podnošenja zahteva za obustavu prijema obaveštenja. Usled obaveštenja od strane Rukovaoca, Primaocu obaveštenja je na jasan način ponuđeno da u svakom trenutku može da se odjavi od primanja daljih obaveštenja. Odjava od obaveštenja je jasno naznačena odnosno predočena i deo je svakog novopristiglog obaveštenja koje Primalac obaveštenja primi kao svoju email poštu.</li>
                            <li>U skladu sa stavom 6.7. Primalac obaveštenja koji je pristao na obaveštavanje o novostima i pogodnostima, a svoj opoziv pristanka može dati klikom na polje koje je namenjeno za odustanak od budućih obaveštenja o novostima i promotivnim ponudama Rukovaoca, ili pismeno na email adresu: <u>mojestado@gmail.com</u></li>
                        </ol>
                    </li>
                    <li>PRAVA KORISNIKA PO OSNOVU ZAŠTITE PODATAKA O LIČNOSTI
                        <ol>
                            <li><u>Pravo da budu informisani i pravo na pristup informacijama</u>
                                <ol>
                                    <li>Rukovalac je obavezan da na sažet, transparentan, razumljiv i lako dostupan način, korišćenjem jasnih i jednostavnih reči, na zahtev Korisnika istom pruži sledeće informacije o:
                                        <ul>
                                            <li>identitetu i kontakt podacima Rukovaoca i zaposlenog ili na drugi način angažovanog lica kod Rukovaoca koji je nadležan za obradu;</li>
                                            <li>svrsi nameravane obrade i pravnom osnovu za obradu;</li>
                                            <li>postojanju legitimnog interesa Rukovaoca ili treće strane, ako je osnov obrade legitimni interes;</li>
                                            <li>primaocu, odnosno grupi primalaca podataka o ličnosti, ako oni postoje;</li>
                                            <li>činjenici da Rukovalac namerava da iznese podatke o ličnosti u drugu državu ili međunarodnu organizaciju;</li>
                                            <li>roku čuvanja podataka o ličnosti ili, ako to nije moguće, o kriterijumima za njegovo određivanje;</li>
                                            <li>postojanju prava da se od Rukovaoca zahteva pristup, ispravka ili brisanje njegovih podataka o ličnosti, odnosno postojanju prava na ograničenje obrade, prava na prigovor, kao i prava na prenosivost podataka;</li>
                                            <li>postojanju prava na opoziv pristanka u bilo koje vreme, kao i o tome da opoziv pristanka ne utiče na dopuštenost obrade na osnovu pristanka pre opoziva;</li>
                                            <li>pravu da se podnese pritužba Povereniku;</li>
                                            <li>tome da li je davanje podataka o ličnosti zakonska ili ugovorna obaveza ili je davanje podataka neophodan uslov za zaključenje ugovora, kao i o tome da li lice na koje se podaci odnose ima obavezu da da podatke o svojoj ličnosti i o mogućim posledicama ako se podaci ne daju;</li>
                                            <li>postojanju automatizovanog donošenja odluka, uključujući profilisanje, ukoliko Rukovalac vrši takvu obradu.</li>
                                        </ul>
                                    </li>
                                    <li>Na zahtev iz tačke 7.1.1. Rukovalac mora odgovoriti u roku od 30 dana, s tim što taj rok može biti produžen za još 60 dana ako je to neophodno, uzimajući u obzir složenost i broj zahteva. O produženju roka i razlozima za to produženje Rukovalac je dužan da obavesti Korisnika u roku od 30 dana od dana prijema zahteva, a ako je Korisnik podneo zahtev elektronskim putem, informacija se mora pružiti elektronskim putem ako je to moguće.</li>
                                </ol>
                            </li>
                            <li><u>Pravo na ispravku i dopunu</u>
                                <oll>
                                    <li>Korisnik ima pravo da se njegovi netačni podaci o ličnosti isprave ukoliko je moguće bez odlaganja. U zavisnosti od svrhe obrade, Korisnik ima pravo da svoje nepotpune podatke o ličnosti dopuni, što uključuje i davanje dodatne izjave.</li>
                                    <li>Ukoliko je moguće ispravku izvršiti korekcijom, brisanjem i unosom drugačijih podataka od strane Korisnika, isti će ispravku iz tačke 7.2.1. izvršiti sam.</li>
                                    <li>Ukoliko Korisnik nije u mogućnosti da ispravku i dopunu izvrši na način iz tačke 7.2.2. obratiće se sa zahtevom Rukovaocu.</li>
                                </oll>
                            </li>
                            <li><u>Pravo na brisanje podataka</u>
                                <ol>
                                    <li>Ukoliko su ispunjeni zakonski uslovi, Rukovalac je dužan da na zahtev Korisnika bez nepotrebnog odlaganja lične podatke iz člana 4, izbriše u sledećim slučajevima:
                                        <ul>
                                            <li>podaci o ličnosti više nisu neophodni za ostvarivanje svrhe zbog koje su prikupljeni ili na drugi način obrađivani;</li>
                                            <li>Korisnik je opozvao pristanak na osnovu kojeg se obrada vršila ili odustao od obaveštenja, u skladu sa Zakonom, a nema drugog pravnog osnova za obradu;</li>
                                            <li>Korisnik je podneo prigovor na obradu u skladu sa Zakonom, a nema drugog pravnog osnova za obradu koji preteže nad legitimnim interesom, pravom ili slobodom lica na koje se podaci odnose;</li>
                                            <li>podaci o ličnosti su nezakonito obrađivani;</li>
                                            <li>podaci o ličnosti moraju biti izbrisani u cilju izvršenja zakonskih obaveza Rukovaoca;</li>
                                            <li>podaci o ličnosti su prikupljeni u vezi sa korišćenjem usluga informacionog društva u smislu Zakona.</li>
                                        </ul>
                                    </li>
                                    <li>Stav 7.3.1. ovog člana se ne primenjuje u meri u kojoj je obrada neophodna zbog:
                                        <ul>
                                            <li>ostvarivanja slobode izražavanja i informisanja;</li>
                                            <li>poštovanja zakonske obaveze Rukovaoca kojom se zahteva obrada ili izvršenja poslova u javnom interesu ili izvršenja službenih ovlašćenja Rukovaoca;</li>
                                            <li>ostvarivanja javnog interesa u oblasti javnog zdravlja, u skladu sa Zakonom;</li>
                                            <li>svrhe arhiviranja u javnom interesu, svrhe naučnog ili istorijskog istraživanja, kao i statističke svrhe u skladu sa Zakonom;</li>
                                            <li>podnošenja, ostvarivanja ili odbrane pravnog zahteva.</li>
                                        </ul>
                                    </li>
                                </ol>
                            </li>
                            <li><u>Pravo na ograničavanje obrade</u>
                                <ol>
                                    <li>Korisnici imaju pravo da od Rukovaoca traže ograničavanje obrade podataka koji se na njih odnose, ukoliko je obrada nezakonita, ukoliko se ukazuje na netačnost podataka ukoliko je podnet prigovor na obradu u skladu sa Zakonom, ukoliko Rukovaocu više nisu potrebni podaci o ličnosti, a Korisnik je zatražio u cilju podnošenja ostvarivanja i odbrane pravnog zahteva ili ako je Korisnik podneo prigovor na obradu, a u toku je procena da li interesi Rukovaoca pretežu nad interesima Korisnika, kao i iz drugih zakonskih razloga.</li>
                                </ol>
                            </li>
                            <li><u>Pravo na prigovor</u>
                                <ol>
                                    <li>U zavisnosti od konkretnog slučaja i ukoliko smatra da je to opravdano Korisnik ima pravo da u svakom trenutku podnese Rukovaocu prigovor na obradu njegovih podataka o ličnosti koja se vrši po osnovu pristanka, a Rukovalac je dužan da prekine sa obradom podataka Korisnika koji je podneo prigovor.</li>
                                    <li>Rukovalac nije dužan da prekine obradu na način iz tačke 7.5.1. ukoliko je predočio Korisniku da postoje zakonski razlozi za obradu koji pretežu nad interesima, pravima ili slobodama tog Korisnika ili su u vezi sa podnošenjem, ostvarivanjem ili odbranom pravnih zahteva.</li>
                                    <li>Pravo na prigovor se može ostvariti samo u odnosu na obrade koje se zasnivaju na pristanku ili legitimnom interesu kao osnovu.</li>
                                </ol>
                            </li>
                            <li><u>Pravo na prenosivost podataka</u>
                                <ol>
                                    <li>Korisnik ima pravo da njegove podatke o ličnosti koje je prethodno dostavio Rukovaocu primi od njega u strukturisanom, uobičajeno korišćenom i elektronski čitljivom obliku i ima pravo da ove podatke prenese drugom Rukovaocu bez ometanja od strane Rukovaoca kojem su ti podaci bili dostavljeni, ako su zajedno–kumulativno ispunjeni sledeći uslovi:
                                        <ul>
                                            <li>obrada je zasnovana na pristanku, izvršenju ugovorne obaveze ili</li>
                                            <li>obrada se vrši automatizovano.</li>
                                        </ul>
                                    </li>
                                    <li>Pravo Korisnika iz tačke 7.6.1. obuhvata i pravo da njihovi podaci o ličnosti budu neposredno preneti drugom rukovaocu od strane Rukovaoca kojem su ovi podaci prethodno dostavljeni, ako je to tehnički izvodljivo</li>
                                </ol>
                            </li>
                            <li><u>Odgovor Rukovaoca</u>
                                <ol>
                                    <li>Na zahteve za ostvarivanje prava Rukovalac mora odgovoriti u roku od 30 dana, s tim što taj rok može biti produžen za još 60 dana ako je to neophodno, uzimajući u obzir složenost i broj zahteva. O produženju roka i razlozima za to produženje Rukovalac je dužan da obavesti Korisnika čiji se podaci obrađuju u roku od 30 dana od dana prijema zahteva, a ako je Korisnik podneo zahtev elektronskim putem, informacija se mora pružiti elektronskim putem ako je to moguće.</li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                    <li>SKLADIŠTENJE PODATAKA O LIČNOSTI KORISNIKA
                        <ol>
                            <li>Podaci o ličnosti Korisnika navedeni u članu 4. ove Politike privatnosti prikupljeni preko Platforme Rukovaoca skladište se u elektronskoj formi na serveru kompanije Naša Imperija d.o.o i obezbeđeni su: antivirusnom zaštitom, SSL sertifikatom, redovnim backup-om, kao i u skladu sa politikom bezbednosti navedene kompanije koja ima pristup podacima u cilju pružanja tehničke podrške.</li>
                            <li>U slučaju promene lokacije za skladištenja podataka iz stava 8.1. ovog člana Politike privatnosti, Rukovalac će izvršiti izmenu i dopunu Politike privatnosti i istaći izmenjenu i dopunjenu verziju na Platformi.</li>
                            <li>Skladištenje u pogledu svake pojedinačne kategorije podataka o ličnosti iz člana 4. detaljno je navedeno u okviru evidencije radnji obrade podataka o ličnosti Korisnika kod Rukovaoca iz člana 13. ove Politike privatnosti.</li>
                        </ol>
                    </li>
                    <li>PRISTUP PODACIMA OD STRANE TREĆIH LICA / OBRAĐIVAČI PODATAKA O LIČNOSTI
                        <ol>
                            <li>Rukovalac je ovlašćen da za potrebe ispunjavanja obaveza iz Uslova korišćenja, obavljanja platnih transakcija, zakonskih obaveza, održavanja servisa, unapređenja njegovog rada, koristi usluge knjigovodstvenih agencija, programera, IT konsultanata i drugih spoljnih i internih saradnika, za čiji rad i rezultate odgovara u skladu sa Zakonom.</li>
                            <li>Rukovalac garantuje da će Obrađivač primeniti potrebne tehničke, organizacione i kadrovske mere, tako da se obrada vrši u skladu sa Zakonom i da se obezbede adekvatna zaštita podataka o ličnosti Korisnika.</li>
                            <li>U svrhu obezbeđivanja uslova iz stava 9.2. ovog člana Politike privatnosti, Rukovalac i Obrađivač mogu zaključiti ugovor o obradi podataka, koji će biti sastavni ili prateći deo osnovnog ugovora, i koji ugovor će između ostalog imati sve potrebne elemente predviđene Zakonom.</li>
                            <li>Za potrebe ostvarivanja svrhe iz stava 9.1. ovog člana Politike privatnsti, Rukovalac angažuje sledeće obrađivače:
                                <ul>
                                    <li>Knjigovodstvenu agenciju;</li>
                                </ul>
                            </li>
                        </ol>
                    </li>
                    <li>BEZBEDNOST PODATAKA
                        <ol>
                            <li>Prilikom procene potrebnog nivoa uspostavljene bezbednosti podataka o ličnosti Rukovalac uzima u obzir i prati nivo tehnoloških dostignuća kao i troškove njihove primene, zatim prirodu, obim, okolnosti i svrhu obrade podataka i na osnovu tih parametara procenjuje verovatnoću nastupanja rizika, odnosno potencijalnog nivoa rizika za prava i slobode Korisnika.</li>
                            <li>U odnosu na okolnosti iz stava 10.1. ovog člana Politike privatnosti, Rukovalac sprovodi odgovarajuće tehničke, organizacione i kadrovske mere kako bi se dostigao potreban nivo organizacije u odnosu na rizik od uništenja, gubitka, izmene, neovlašćenog otkrivanja ili pristupa podacima Korisnika.</li>
                            <li>Prilikom slanja podataka Obrađivaču, Rukovalac je dužan da obezbedi siguran komunikacioni kanal kojim podaci putuju, kao i da se uveri da su podaci sigurno skladišteni uz obezbeđene adekvatne sigurnosne standarde.</li>
                            <li>Svi podaci o Korisnicima se strogo čuvaju i dostupni su samo angažovanim licima Rukovaoca kojima su ti podaci nužni za obavljanje posla, a Rukovalac je odgovoran za poštovanje načela zaštite privatnosti, u skladu sa Politikom privatnosti.</li>
                            <li>Lični i adresni podaci Kupca koji se predočavaju Rukovaocu prilikom procesa kupovine smatraju se poslovnom tajnom, a Rukovaocu je zabranjeno prodavanje, naručivanje, obezbeđivanje ili razmena Kupčevog imena ili informacija o adresi, broju telefona, platnoj kartici, kao i imejl adresi u bilo kojoj formi trećoj strani, sem ako je to nadležni državni organi.</li>
                            <li>Kada je u pitanju bezbednost poverljivih podataka Kupca prilikom plaćanja Platnim karticama i drugim vidovima online plaćanja, kako je Uslovima korišćenja predviđeno, Rukovalac vodi računa o bezbednosti u skladu sa standardima banke ili druge platne institucije, odnosno institucija elektronskog novca PaySpot koja vrši posredovanje u plaćanju Cene između Kupca, Davaoca usluge i Partnera.</li>
                            <li>Rukovalac vrši zaštitu iz stava 10.6. na način što se prilikom unošenja podataka o Platnoj kartici, poverljive informacija prenose putem javne mreže u zaštićenoj (kriptovanoj) formi upotrebom SSL protokola i PKI sistema, kao trenutno najsavremenije kriptografske tehnologije primenom najsavremenijih metoda tokenizacije osetljivih podataka. Sigurnost podataka prilikom kupovine garantuje procesor platnih kartica Raiffeisen bank, pa se tako kompletni proces naplate obavlja na stranicama banke.</li>
                            <li>Banka ima implementiranu 3D Secure tehnologiju koja podrazumevadodatne metode autentikacije (MasterCard SecureCode i CAP, Verified by VISA) Kupca, korisnika platne kartice. Kroz implementiranu 3D Secure tehnologiju zaštićen je proces kupovine i obezbeđen od eventualne zloupotrebe platne kartice na Internet prodajnom mestu.</li>
                            <li>Kupci koji su korisnici su korisnici Visa i MasterCard platnih kartica prijavljenih za 3D Secure omogućen je najveći stepen zaštite za kupovinu putem interneta korišćenjem programa dodatne identifikacije Mastercard Secure Code i Verified by VISA. Na ovaj način Banka je omogućila da uz pomoć 3D secure password-a (loznike) Kupci na siguran način plaćaju putem interneta i zaštite se od potencijalne zloupotrebe podataka sa kartice. Ova lozinka kreira se pomoću SMS jednokratne lozinke (OTP).</li>
                            <li>Kartično plaćanje kod Rukovaoca u svemu odgovara opštim zahtevima, opštim uslovima poslovanja, preporukama, ograničenjima propisanim od strane Raiffeisen bank, koja predstavljaju standarde koje treba da zadovolji Rukovalac u cilju korišćenja kartica u e-commerce transakcijama.</li>
                            <li>Podaci o Platnoj kartici nisu dostupni Rukovaocu ni u jednom trenutku prilikom vršenja transakcije.</li>
                        </ol>
                    </li>
                    <li>POSTUPAK U SLUČAJU UGROŽENOSTI ZAŠTITE PODATAKA
                        <ol>
                            <li>Ukoliko dođe do ugroženosti podataka iz člana 4. ove Politike privatnosti i/ili bezbednosti iz člana 10. ove Politike privatnosti, Rukovalac će preduzeti sve neophodne mere obaveštavanja i zaštite predviđene Zakonom, uključujući obaveštavanje nadležnog Nadzornog organa, kao i Korisnike ukoliko su ispunjeni uslovi iz Politike privatnosti i Zakona.</li>
                            <li>U slučaju povrede podataka, Rukovalac je dužan da o povredi prava na zaštitu podataka o ličnosti koja može da proizvede rizik po prava Korisnika obavesti Nadzorni organ bez nepotrebnog odlaganja, ili najkasnije u roku od 72 časa od saznanja za povredu. U slučaju nepostupanja u predmetnom roku Rukovalac će obrazložiti razloge za kašnjenje.</li>
                            <li>Obaveštenje Rukovaoca Nadzornom organu iz stava 11.2. ovog člana Politike privatnosti mora da sadrži najmanje sledeće informacije:
                                <ul>
                                    <li>opis prirode povrede prava na zaštitu podataka o ličnosti, uključujući vrste podataka i približan broj Korisnika na koja se podaci te vrste odnose, kao i približan broj podataka o ličnosti čija je bezbednost povređena;</li>
                                    <li>ime i kontakt podatke lica od koga se mogu dobiti podaci o povredi;</li>
                                    <li>opis mogućih posledica povrede;</li>
                                    <li>opis mera koje je Rukovalac preduzeo ili čije je preduzimanje predloženo u vezi sa povredom, uključujući i mere koje su preduzete u cilju umanjenja štetnih posledica.</li>
                                </ul>
                            </li>
                            <li>U slučaju povrede prava na zaštitu podataka o ličnosti, Rukovalac je dužan da o povredi podataka o ličnosti koja može da proizvede rizik po prava i slobode fizičkih lica obavesti Korisnike.</li>
                            <li>Obaveštenje Korisniku iz stava 11.4. ovog člana Politike privatnosti mora na jasan i razumljiv način da opiše prirodu podataka i navede informacije iz stava 11.3. ovog člana Politike privatnosti.</li>
                            <li>Rukovalac nije dužan da obavesti Korisnike u situaciji iz stava 11.4. ovog člana Politike privatnosti, ukoliko:
                                <ul>
                                    <li>je preduzeo odgovarajuće tehničke i organizacione mere zaštite u odnosu na podatke o ličnosti čija je bezbednost povređena;</li>
                                    <li>je naknadno preduzeo mere kojima je obezbedio da povreda podataka o ličnosti sa visokim rizikom za prava i slobode lica na koje se podaci odnose više ne može da proizvede posledice za to lice;</li>
                                    <li>bi obaveštavanje lica na koje se podaci odnose predstavljalo nesrazmeran utrošak vremena i sredstava, u kom slučaju Rukovalac je dužan da putem javnog obaveštavanja ili na drugi delotvoran način obezbedi pružanje obaveštenja licu na koje se podaci odnose.</li>
                                </ul>
                            </li>
                            <li>Ukoliko Korisnik dođe do saznanja o bilo kom događaju koji je doveo ili može dovesti do ugroženosti njegovih ili podataka o ličnosti trećih lica, dužan je bez odlaganja da o tome obavesti Rukovaoca preko kontakata koji se nalaze u ovom dokumentu.</li>
                        </ol>
                    </li>
                    <li>VREME ČUVANJA PODATAKA I NJIHOVO BRISANJE
                        <ol>
                            <li>Podaci iz člana 4. ove Politike privatnosti čuvaju se onoliko dugo koliko je to potrebno za svrhu za koju se obrađuju, osim u slučaju kada je osnov prikupljanja ovih podataka saglasnost Korisnika.</li>
                            <li>U slučaju iz prethodnog stava ovog člana Politike privatnosti gde je osnov prikupljanja podataka o Korisniku njegova saglasnost, ovi podaci će se čuvati do opoziva date saglasnostim, odnosno odustanka.</li>
                            <li>Izuzetno od stava 12.1. i 12.2. Rukovalac neće pristupiti brisanju informacija/podataka koji se odnose na konkretnog Korisnika, a koji nije izvršio svoje ugovorne obaveze prema Rukovaocu u vezi sa Uslugom, ili ukoliko Rukovalac prema važećim propisima ima pravo/obavezu da određene podatke o Korisniku čuva, ili ukoliko Rukovalac ima drugi legitimni interes, pri čemu će podatke čuvati u roku dok zakonska obaveza to nalaže, ali ne duže od zakonom propisanog roka za čuvanje podataka.</li>
                            <li>Izuzetno od stava 12.1. Rukovalac će sačuvati podatke Primalaca obaveštenja/Kupaca koji su dali izričitu saglasnost za obrađivanje i čuvanje njihovih podataka u svrhe obaveštavanja o novostima i promotivnim ponudama, odnosno u svrhe slanja Newsletter-a.</li>
                            <li>Vreme čuvanja u pogledu svake pojedinačne kategorije podataka o ličnosti iz člana 4. detaljno je navedeno u okviru evidencije radnji obrade podataka o ličnosti Korisnika kod Rukovaoca iz člana 13.</li>
                        </ol>
                    </li>
                    <li>EVIDENCIJA RADNJI OBRADE LIČNIH PODATAKA KORISNIKA KOD RUKOVAOCA
                        <ol>
                            <li>Rukovalac vodi evidenciju radnji obrade podataka o ličnosti Korisnika iz člana 4. ove Politike privatnosti.</li>
                            <li>Evidencija se pored naziva i poslovnih podataka Rukovaoca, sastoji iz sledećih informacija: kategorija lica čiji se podaci obrađuju, kategorija podataka o ličnosti, svrhe obrade, podataka o trećim licima kojima su podaci otkriveni, dužine čuvanja podataka, opisa mera zaštite, formi u kojoj se podaci čuvaju.</li>
                            <li>Evidencija iz prethodnog stava ovog člana Politike privatnosti vodi se u elektronskom obliku i čuva se trajno, u skladu sa Zakonom.</li>
                        </ol>
                    </li>
                    <li>SAMOSTALNI RUKOVAOCI I PRIMALAC PODATAKA O LIČNOSTI
                        <ol>
                            <li>U pogledu obrade podataka o ličnosti Kupca konkretnog Proizvoda/Usluge Partnera, Davalac usluge i Partner koji je postavio predmetni Proizvod/Uslugu Partnera na Platformu, imaju status samostalnih rukovalaca.
                                <ol>
                                    <li>Imajući u vidu da su podaci o ličnosti iz stava 14.1. otkriveni Partneru, Partner pored statusa samostalnog rukovaoca ima i status primaoca predmetnih podataka.</li>
                                    <li>U vezi sa stavom 14.1. odnosno tačke 14.1.1. ovog člana, svako od rukovalaca samostalno odgovara za svoj izbor obrađivača podataka o ličnosti, kao i za svoj segment obrade podataka o ličnosti u svemu u skladu sa Zakonom.</li>
                                    <li>Partner vrši obradu podataka o ličnosti iz stava 14.1. u skladu sa svojom politikom privatnosti i Zakonom, te je dužan da se odazove pozivu svakog Korisnika čije podatke o ličnosti obrađuje u cilju blagovremenog pružanja svih zahtevanih informacija, uvida u politiku privatnosti i ostalu dokumentaciju koja se odnosi na predmetnu obradu podataka o ličnosti i postupanja sa predmetnim podacima o ličnosti i zahtevima u vezi sa istim, kao i da se u svemu pridržava Zakona prilikom obrade podataka o ličnosti.</li>
                                    <li>U slučaju nastanka bilo kakvog propusta u obradi podataka o ličnosti Korisnika od strane Partnera, Davalac usluge će Korisnika koji se tim povodom obratio Davaocu usluge preusmeriti na Partnera u cilju daljeg informisanja i rešavanja konkretnog problema.</li>
                                </ol>
                            </li>
                            <li>U skladu sa Uslovima korišćenja, odeljak 5 “Osiguranje Proizvoda žive vage”, Partner ima mogućnost da osigura svoje proizvode kod Osiguravača, koji ima svojstvo samostalnog rukovaoca i koji samostalno obrađuje podatke o ličnosti Partnera i za tu obradu je odgovoran.
                                <ol>
                                    <li>O relevantnim činjenicama vezanim za obradu iz člana 14.2. Partner se može informisati delom u Uslovima korišćenja, odnosno direktno kod Osiguravača koji samostalno određuje svrhe obrade, način i pravni osnov.</li>
                                    <li>Osiguranje proizvoda žive vage je za Partnere opciono i potpuno dobrovoljno.</li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                    <li>POVERENIK / NADZORNI ORGAN
                        <ol>
                            <li>Nadzorni organ za zaštitu podataka o ličnosti u Republici Srbiji je Poverenik za informacije od javnog značaja i zaštitu podataka o ličnosti Republike Srbije. Organu se možete obratiti na adresi Bulevar kralja Aleksandra 15, 11000 Beograd, Republika Srbija, mejlom na office@poverenik.rs ili telefonom na +381 11 3408 900.</li>
                            <li>Rukovalac sarađuje sa Poverenikom u vršenju njegovih ovlašćenja, u skladu sa obavezama propisanim Zakonom.</li>
                        </ol>
                    </li>
                    <li>KONTAKT PODACI RUKOVAOCA
                        <ol>
                            <li>U slučaju potrebe za tumačenjem odredaba Politike privatnosti, ostvarivanja prava Korisnika, kao i drugih Zakonom predviđenih pitanja, Korisnici se mogu obratiti Rukovaocu na sledeće kontakt podatke:
                                <ul>
                                    <li>Poslovno ime Rukovaoca: „NAŠA IMPERIJA DOO”;</li>
                                    <li>Adresa: Kneza Grbovića 10, Mionica;</li>
                                    <li>Email Rukovaoca: <u>mojestado@gmail.com</u></li>
                                    <li>Telefon Rukovaoca: +381 60 3600779</li>
                                    <li>Radno vreme:</li>
                                    <li>Radnim danom: 8h – 16h</li>
                                    <li>Subotom: 08h-13h</li>
                                </ul>
                            </li>
                        </ol>
                    </li>
                    <li>ZAVRŠNE ODREDBE
                        <ol>
                            <li>Prihvatom Politike privatnosti, odnosno pristupom Platformi, Korisnik potvrđuje da je istu pročitao i razumeo, te da je u celosti prihvata, kao i da je saglasan sa osnovima i svrhama obrade podataka, kako je ovim dokumentom propisano.</li>
                            <li>Sve promene Politike privatnosti biće javno dostupne na za to predviđenom mestu na Platformi Rukovaoca, o čemu će Korisnici biti obavešteni putem istih sredstava komunikacija, na način da će im biti omogućeno da pročitaju novi dokument.</li>
                        </ol>
                    </li>
                    <li>PRAVO KOJE SE PRIMENJUJE I SUDSKA NADLEŽNOST
                        <ol>
                            <li>Materijalno pravo koje se primenjuje na obradu podataka o ličnosti Korisnika, a u vezi obrade od strane Davaoca usluge u svojstvu rukovaoca je pravo Republike Srbije, Zakon o zaštiti podataka o ličnosti kao i GDPR gde je primenljivo.</li>
                            <li>Za upravne i sudske postupke, mesno su nadležni organi i nadležni sudovi Republike Srbije u skladu sa pozitivnim zakonodavstvom ove države.</li>
                        </ol>
                    </li>
                </ol>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}