{% extends "layout.html" %}
{% block content %}
<h1>Gotovi proizvodi</h1>
{% if product_categories %}
    {% for product_category in product_categories %}
    <a href="{{ url_for('marketplace.products_market', product_category_id=product_category.id) }}">{{ product_category.product_category_name }}</a>
    {% endfor %}
{% else %}
    <div class="row">
        <div class="col-md-2">
            <form action="{{url_for('marketplace.products_market', product_category_id=product_category_id)}}" method="POST">
                <h2>Filteri</h2>
                <div class="card mb-3">
                    <div class="card-header">
                        Lokacija
                    </div>
                    <div class="card-body">
                        <select class="form-select mb-2" id="municipality" name="municipality">
                        <option value="0">Sve lokacije</option>
                        {% for municipality in municipality_filter_list %}
                            <option value="{{municipality.id}}">{{municipality.municipality_name}}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        Organska proizvodnja
                    </div>
                    <div class="card-body">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="organic_filter" name="organic_filter">
                            <label class="form-check-label" for="organic_filter">Organski</label>
                            <a href="#" data-bs-toggle="tooltip" data-bs-placement="right" title="Šta se podrazumeva pod organskom proizvodnjom?">
                                <i class="fas fa-question-circle"></i>
                            </a>
                            <a href="#">Detaljnije o organskoj proizvodnji</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-10">
            <h2>Proizvodi</h2>
            <ul>
                {% for product in products %}
                <li>{{ product.product_name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $("#municipality").select2({
            multiple: true,
            closeOnSelect: false,
            placeholder: "Pretraži lokacije",
            allowClear: true,
            dropdownAutoWidth: true,
            width: '100%',
            theme: "classic"
        });

        // Preselektuj izabrane opcije
        var selectedValues = JSON.parse('{{ selected_municipality | safe }}');
        var organic_filter = JSON.parse('{{ organic_filter | safe }}');
        console.log(selectedValues);
        $("#municipality").val(selectedValues).trigger('change');
        $("#organic_filter").prop('checked', organic_filter);
    });
    $(document).ready(function() {
        $('#municipality').change(function() {
            // post form
            $('form').submit();
        });
    });
    $(document).ready(function() {
        $('#organic_filter').change(function() {
            // post form
            $('form').submit();
        });
    });
</script>
{% endblock %}