{% extends "layout.html" %}
{% block content %}
<section class="">
    <h2>Cene hranidbenih dana po kategorijama</h2>
    <form action="{{ url_for('users.settings') }}" method="POST">
        {% for category in categorization %}
            {% if loop.index == 1 or category.animal_category_id != categorization[loop.index0 - 1].animal_category_id %}
                {% if loop.index != 1 %}
                    <hr class="my-4">
                {% endif %}
                <h3>Kategorija {{ category.animal_category_id }}</h3>
            {% endif %}
            <label for="{{ category.id }}">{{ category.subcategory }}</label>
            <input type="text" class="form-control" id="{{ category.id }}" name="{{ category.id }}" value="{{ category.fattening_price }}">
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="Sačuvaj izmene">
    </form>
</section>
{% endblock content %}
