{% extends "layout.html" %}
{% block content %}
<section>
    <div class="container">
        <h1>O kupcu</h1>
        <form id="guestForm" action="{{ url_for('transactions.user_payment_form')}}" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email.label(class="") }}
                {{ form.email(class="form-control", disabled=current_user.is_authenticated) }}
            </div>
            <div class="form-group">
                {{ form.name.label(class="") }}
                {{ form.name(class="form-control", disabled=current_user.is_authenticated) }}
            </div>
            <div class="form-group">
                {{ form.surname.label(class="") }}
                {{ form.surname(class="form-control", disabled=current_user.is_authenticated) }}
            </div>
            <div class="form-group">
                {{ form.phone.label(class="") }}
                {{ form.phone(class="form-control", disabled=current_user.is_authenticated) }}
            </div>
            <div class="form-group">
                {{ form.address.label(class="") }}
                {{ form.address(class="form-control", disabled=current_user.is_authenticated) }}
            </div>
            <div class="form-group">
                {{ form.city.label(class="") }}
                {{ form.city(class="form-control", disabled=current_user.is_authenticated) }}
            </div>
            <div class="form-group">
                {{ form.zip_code.label(class="") }}
                {{ form.zip_code(class="form-control", disabled=current_user.is_authenticated) }}
            </div>
            {% if current_user.is_authenticated %}
            <button class="btn btn-primary" type="submit">Pregled kupovine</button>
            {% else %}
            <button class="btn btn-primary" type="submit">Pregled kupovine + Kreiraj guest nalog</button>
            {% endif %}
        </form>
    </div>
</section>



{% endblock %}
{% block scripts %}


{% endblock %}