{% extends "layout.html" %}
{% block content %}
<p>ovo je chart: {{ cart }}</p>
{% for item in cart %}
    <p>{{ item }}</p>
{% endfor %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID životinje</th>
            <th>Potkategorija</th>
            <th>Rasa</th>
            <th>Pol (ne prikazuje se kod živine)</th>
            <th>Trenutna masa</th>
            <th>Cena po kg (rsd)</th>
            <th>Ukupna (rsd)</th>
            <th>Osigurano</th>
            <th>Organsko</th>
            <th>Usluge</th>
            <th>Karton grla</th>
            <th>PG</th>
            <th>Lokacija</th>
            <th>Kupovina (korpa/tov)</th>
        </tr>
    </thead>
    <tbody>
        {% for animal in animals %}
        <tr>
            <td>{{ animal.animal_id }}</td>
            <td>{{ animal.animal_categorization.subcategory }}</td>
            <td>{{ animal.animal_race.animal_race_name }}</td>
            <td>{{ animal.animal_gender }}</td>
            <td>{{ animal.current_weight }}</td>
            <td>{{ animal.price_per_kg }}</td>
            <td>{{ animal.total_price }}</td>
            <td>{{ animal.insured }}</td>
            <td>{{ animal.organic_animal }}</td>
            <td>test</td>
            <td>
                {% if animal.cardboard %}
                <a href="{{ url_for('static', filename='cardboards/' + animal.cardboard) }}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Karton</a>
                {% endif %}
            </td>
            <td><a href="{{ url_for('farms.farm_detail', farm_id=animal.farm_id) }}">{{ animal.farm_animal.farm_name }}</a></td>
            <td>{{ animal.farm_animal.farm_city }}</td>
            <td>
                <a href="{{ url_for('main.add_animal_to_cart', animal_id=animal.id)}}">Kupi</a>
                {% if animal.intended_for == "tov" %}
                <a href="">Tov</a>
                {% endif %}
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}